[2020-11-30 19:41] AlmasB commented on #892
@AbsoluteHack2

This is now supported.

[code]

To get the latest build, you can use this:
[code]

Let me know if this works

[2020-11-30 19:42] AlmasB commented on #878
Done in 11.12

[2020-11-30 19:42] #878 closed

[2020-11-30 20:26] AlmasB commented on #829
Both wiki pages updated to 11.11

[2020-11-30 20:26] #829 closed

[2020-11-30 20:39] AlmasB opened #903 "Do not init Attach Audio if not running on mobile"

[2020-12-01 10:17] AlmasB opened #904 "Allow app mode switch at runtime"
Particularly useful for testing on mobile

[2020-12-01 14:43] AlmasB opened #905 "Handle multi-touch virtual controls on mobile"
**Describe the bug**
pressVirtual needs to be called on touch press, not on mouse press, however, there seems to be an internal jfx bug related to release events, which can be delayed.

To fix, we can check press events each frame and compute when the release event happened.

[2020-12-02 09:51] AlmasB opened #906 "Do not "exports com.almasb.fxgl.audio.impl;" in fxgl-media module"
Refactor the code to avoid leaking `impl` package into public API.

[2020-12-02 09:55] AlmasB opened #907 "Provide missing implementation of generic asset load() in FXGLAssetLoaderService"
[code]

and remove the RT exception

[2020-12-02 10:00] AlmasB opened #908 "Scale ratio is set to 1 in MainWindow even if display size < target size"
**Describe the bug**
If settings.isScaleAffectedOnResize is false, then we set:
[code]

This can potentially be problematic if display size < target size

**To Reproduce**
Need to make a sample with target size set to larger than display size and set isScaleAffectedOnResize to false.

**Additional context / possible fixes**
Should be fixable by setting the above scale values based on display size

[2020-12-02 19:22] AlmasB commented on #752
This has been fixed and now [has a unit test](https://github.com/AlmasB/FXGL/blob/dev/fxgl-entity/src/test/kotlin/com/almasb/fxgl/entity/level/tiled/TMXLevelLoaderTest.kt#L105) associated with it.

[2020-12-02 19:22] #752 closed

[2020-12-05 08:40] lucas-jay opened #909 "Add support for pause the engine and hide the window"
I have created a user client class using swing and a GameApp class using FXGL. When player finish the game, it'll close the window by

**FXGL.getGameController().exit();**

But when I start an another new game at my user client I get this error:

**Java FX: application Launch Must not be called more than once**

How could I solve this problem?

[2020-12-05 12:51] AlmasB commented on #909
Hi. JavaFX (and by extension FXGL) cannot be run more than once in a JVM. This is not something we can change, as it is so by design.

Workaround: commonly, this is solved by keeping FXGL running. Once your game finishes, remove all entities, pause the engine and hide the window. When you need a new game, add new entities and restart the game.

[2020-12-05 13:16] lucas-jay commented on #909
Thanks for your reply !
But I'm still little confused about how to “ pause the engine and hide the window ”

[2020-12-05 21:51] sormuras opened #910 "UpdaterService fails due to handshake failure"
Using `jlink` to create a custom runtime image may lead to following output.

[code]

See https://github.com/sormuras/bach-fxgl/actions/runs/403066229 for an example and a reproducer.

If one adds `requires module jdk.crypto.ec;` to a module description (or add it to linked modules manually), the `handshake_failure` is no longer issued.

[code]

[2020-12-05 21:57] sormuras commented on #910
I guess, FXGL uses module `java.net.http`, which in turn gets some `https`-related bits from module `jdk.crypto.ec`.

See also https://stackoverflow.com/questions/55439599/sslhandshakeexception-with-jlink-created-runtime

[2020-12-06 13:00] AlmasB commented on #910
Nice, many thanks.

[2020-12-07 09:34] AlmasB opened #912 "NetService::Download file"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
Provide API to download a file over the network given a URL. The DownloadInfo progress callback should be allowed to be passed in.

[2020-12-07 10:51] lucas-jay commented on #909
When we need to start a game more than once, we may need to remove all entities, pause the engine and hide the window. However, "pause the engine and hide the window" are not part of public API. It will be nice to add these two to public API.

[2020-12-07 10:56] AlmasB commented on #909
Thanks, I'll take a look at this later today. Once added, you can use those immediately with:

To get the latest build, you can use this:
[code]

[2020-12-07 11:40] AlmasB commented on #910
[fxgl-net](https://github.com/AlmasB/FXGL/blob/dev/fxgl-net/src/main/java/module-info.java) is the module that deals with networking stuff. UpdaterService (and any other code) calls `fxgl-net` to deal with networking. So, I suppose `jdk.crypto.ec` should go to the `module-info.java` in `fxgl-net`? If so, you are welcome to send a PR.

[2020-12-07 13:31] #903 closed

[2020-12-07 17:22] AlmasB commented on #909
To pause / resume engine:

[code]

Access to native javafx primary Stage (window), e.g. to hide it:

[code]

With hide(), javafx will probably shut down as it's the only window, so to prevent, you want: `Platform.setImplicitExit(false);`

Play around with these and let me know if you managed to work around the issue.

[2020-12-07 18:09] lucas-jay commented on #909
thanks a lot , I will try it today later: )

---Original---
From: "Almas Baimagambetov"<notifications@github.com&gt;
Date: Tue, Dec 8, 2020 01:22 AM
To: "AlmasB/FXGL"<FXGL@noreply.github.com&gt;;
Cc: "Manual"<manual@noreply.github.com&gt;;"lucas-jay"<1260765982@qq.com&gt;;
Subject: Re: [AlmasB/FXGL] Add support for pause the engine and hide the window (#909)

To pause / resume engine:
 FXGL.getGam

[2020-12-08 01:10] lucas-jay commented on #909
It can work now. Thanks a lot.

[2020-12-08 03:11] #909 closed

[2020-12-08 06:58] sormuras commented on #910
I'd be happy to provide a PR, Almas.

Yet, module `com.almasb.fxgl.net` doesn't read module `java.net.http` as I expected. Perhaps, the standard "java.net" API from module `java.base` already _reads_ that crypto-related module ... via `META-INF/services`? Do you want (me) to figure out the underlying reason before adding `requires jdk.crypto.ec;`?

[2020-12-08 08:54] AlmasB commented on #909
Contributed by @lucas-jay :

when the game finishes:
[code]
to restart the game:
[code]

[2020-12-08 09:04] AlmasB commented on #910
Yeah, I don't remember adding `java.net.http`...

There is no rush with this as it doesn't crash the engine. The good news is that you already have a fix. So if you have time, a quick investigation would be much appreciated!

[2020-12-08 21:12] AbsoluteHack2 commented on #892
Thanks you 👍

[2020-12-08 21:12] #892 closed

[2020-12-09 10:29] sormuras opened #913 "Check and tune modular API"
In relation to #897 and friends, here's a [`jdeps`](https://docs.oracle.com/en/java/javase/15/docs/specs/man/jdeps.html) check run for module ` com.almasb.fxgl.all`.

After storing all modular FXGL JAR files in the current working directory, you may reproduce this check via:

[code]

#### Module descriptor

[code]

#### Suggested module descriptor for com.almasb.fxgl.all

[code]

##### Transitive

[2020-12-09 10:33] sormuras commented on #913
Note: module `javafx.base` requires `java.desktop` -- so, there's no way for FXGL to drop the read edge to `java.desktop`.

[2020-12-09 10:35] sormuras commented on #913
### com.almasb.fxgl.net

##### Module descriptor

[code]

##### Suggested module descriptor for com.almasb.fxgl.net
[code]

#####  Transitive reduced graph for com.almasb.fxgl.net
[code]

[2020-12-15 16:45] AlmasB opened #915 "Allow running the engine at a different rate e.g. 20 ticks per second"
Essentially, it should be possible to run as fast as number of FPS being rendered and as slow as 1 tick per second.

[2020-12-15 16:46] AlmasB opened #916 "Allow changing settings at startup via external settings file"
Probably by passing in an extra argument to the settings file.

[2020-12-15 21:24] sedezee opened #917 "Crash when rebinding keys to "space", "tab", or "enter" keys"
**Describe the bug**
When rebinding keys from the game menu, the program crashes upon attempt to rebind to space, tab, or enter keys. Sometimes it simply refuses to rebind, other times it shuts down the game entirely.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the game (Mario is an example of where this bug occurs)
2. Hit the menu key once into the initial gameplay
3. Go to 'cont

[2020-12-15 21:55] AlmasB commented on #917
The above fixes space and other keys, however I discovered that the error in the screenshot is due to a mouse event handler on each trigger. So the following bug remains:

- FXGL clicking again on action/trigger in menu while "press any key" is open causes crash due to subscene being added twice - therefore duplicate children

I'll have a look at this some time tomorrow, but once CI completes its

[2020-12-16 01:51] sedezee commented on #917
Is there a gradle version of this available or will I have to wait for the next version of FXGL?

[2020-12-16 08:41] AlmasB commented on #917
Just use the same coordinates: `dev-SNAPSHOT` as version and `http://oss.sonatype.org/content/repositories/snapshots` as a dependency repo. If you haven't done this before, have a look at gradle's website.

[2020-12-16 09:00] AlmasB commented on #917
The identified bugs in this issue should have been fixed now, please test when you get a chance.

[2020-12-16 10:05] AlmasB opened #918 "Add a separate non-code coverage GH CI for Win/Mac/Linux using latest stable Java version"

[2020-12-16 20:15] sedezee commented on #917
Everything appears to be working correctly; thank you for fixing it so quickly!

[2020-12-19 09:38] #917 closed

[2020-12-22 10:14] AlmasB opened #919 "Allow disabling startup scene"

[2020-12-23 19:29] #798 closed

[2020-12-23 19:40] AlmasB commented on #842
@hendrikebbers might be exactly what you need for your "drag but keep in bounds" use case.

[2020-12-24 09:04] AlmasB opened #920 "Add SDL_GetError() to fxgl_controllerinput.cpp"
In
[code]

we attempt to connect to controllers, but if the call to `SDL_GameControllerOpen` returns `nullptr` then we need to say something to the higher layer. Possibly add a callback with SDL_GetError() to say failed to access game controller.

[2020-12-24 09:10] AlmasB commented on #897
Modules that require review:

[code]

Modules that have been reviewed (code + tests) and whose implementation is frozen (except for bug fixes) for the time being:

[code]

[2020-12-24 09:19] AlmasB opened #921 "Implement rotationX and Y for Node animations in 3D"
Currently in AnimationBuilder:

[code]

We cache a rotate transform for the Z axis (2D rotation) already. So a solution for this is probably to create two more Rotate transforms and add them to the Node being rotated if it doesn't have the transforms (see Z axis rotation code). First, the solution design needs to be proposed and only then implemented.

[2020-12-24 09:42] AlmasB opened #922 "Implement 3D collision detection using bounding box"
Now that we have 3D transformations, the next step is to consider simple collision detection in 3D using bounding (3D) boxes.

This needs to be done before integrating FXyz, i.e. #901

The API should match what already exists for 2D, ideally through BoundingBoxComponent

[2020-12-24 09:50] AlmasB opened #923 "TransformComponent needs positionOriginZ"
To be consistent with existing API for 2D, we also need this for Z. Once this is implemented, ViewComponent needs to bind translateZ as below:

[code]

Currently it's just:

[code]

See how positionOriginX and Y are implemented and then match the implementation

[2020-12-24 10:15] AlmasB opened #924 "TransformComponent update direction3D on rotation change"
When rotation Y or X change, we also need to update direction3D. Possibly, through a listener or just before the value of direction3D is queried. Otherwise it creates a bug that moves the component in the wrong direction.

It would be beneficial to have a direct setter for direction3D, perhaps direction3DProperty() too.

[2020-12-24 10:19] AlmasB opened #925 "Resolve code duplication in AnimatedValue.kt"
The two classes below are duplicated for 3D. See if we can fix duplication. Maybe keep all 4 classes, but 2D calls 3D code with z = 0?

[code]

Design should be proposed first.

[2020-12-25 09:58] AlmasB commented on #922
- [ ] BoundingShape has box2d Shape converter which doesn't work for 3D shapes, so API needs to be tweaked
- [ ] BoundingBoxComponent::checkCollision for 3D needs to be refactored to be GC-free.
- [ ] BoundingBoxComponent::checkCollision currently only works for local origin 0,0,0 and HitBox has no Z aspect

[2020-12-26 13:48] AlmasB commented on #918
Closed by [commit](https://github.com/AlmasB/FXGL/commit/b772a2e30b13778251885cdab46b9b0db3b95923)

[2020-12-26 13:48] #918 closed

[2020-12-28 09:44] AlmasB opened #926 "Add StateDebugComponent for AI"

[2020-12-30 18:23] AlmasB opened #927 "DialogService:: add input box with prompt text"

[2021-01-02 22:23] DieterMai opened #928 "Wiki Page "Basic Game Example (FXGL 11)" outdated"
I've did the tutorial Basic Game Example (FXGL 11) and discovered the following issues:

* In the complete source code there are some unused imports
* In the complete source code the deprecated API getGameState() is used. i think this should be replaced by FXGL.getWorldProperties()
* For FXGL to load assets from the game module, the game module has to open the resource packages. At least for me, t

[2021-01-03 09:22] AlmasB commented on #928
Many thanks, I'll look into these

[2021-01-03 11:51] AlmasB commented on #928
1) removed unused imports.
2) I couldn't find `getGameState()` in "Basic Game Example" tutorial, but did find it in "Adding images and sounds", updated.
3) I've added a link to modularity guide in images tutorial, as this is the first time assets are introduced.

Thanks for pointing these out.

[2021-01-03 11:59] DieterMai commented on #928
Oh yes. "Adding images and sounds" was what i actually meant.

[2021-01-06 12:25] AlmasB commented on #923
Hi, sure. The files Transform and View components are in fxgl-entity module
under kotlin sources.

On Tue, 5 Jan 2021, 2:39 pm Vasilis Andritsoudis, <notifications@github.com>
wrote:

[2021-01-06 15:26] VasilisAndritsoudis commented on #923
@AlmasB Great, I will give it a shot and update you soon.

[2021-01-06 16:14] VasilisAndritsoudis commented on #923
@AlmasB I have one question, how can I make it so that when I make changes to my fork of the repo, they take effect in development? I am guessing I have to change the dependency in the pom.xml file, however I do not know how. It would be great if you told me how to do it.

[2021-01-07 12:51] AlmasB commented on #928
I believe this is now resolved. Feel free to let me know if there are any other outdated doc / links

[2021-01-07 12:51] #928 closed

[2021-01-07 12:53] AlmasB commented on #923
Sorry I'm not sure what you are asking. All modules depend on the development version of FXGL (i.e. the one we are editing in IDE). You can find 3D examples under fxgl-samples / ... / sandbox/test3d.

[2021-01-07 15:38] VasilisAndritsoudis commented on #923
@AlmasB I believe I have finished with the task however I am not entirely sure on how to test it.

At this point I have made the requested changes in the Transform and View components, built the artifacts into a jar file which I have included into a test project. There I have run both 3D examples you have supplied along with some changes I have made and it seems to be working fine.

If there is an

[2021-01-07 16:00] AlmasB commented on #923
Sounds good. Feel free to send the PR, the tests will kick in
automatically. We'll go from there

On Thu, 7 Jan 2021, 3:38 pm Vasilis Andritsoudis, <notifications@github.com>
wrote:

[2021-01-07 17:31] VasilisAndritsoudis commented on #923
@AlmasB Alright I sent the PR, most of the tests run fine except 2 (the one is the JDK run on MacOS which I doubt is from the changes I made and the other is the codecov/project).
I am awaiting a response on how to proceed from here.

[2021-01-07 17:40] AlmasB commented on #923
Many thanks, I'll take a look later today

On Thu, 7 Jan 2021, 5:31 pm Vasilis Andritsoudis, <notifications@github.com>
wrote:

[2021-01-07 20:32] GeorgeJoLo commented on #925
Hello @AlmasB !
I've thought about it and want to propose a solution.
I've only changed one of the two pairs, and the other one can be managed in a similar fashion

[code]

Would such a solution suffice? If so, I would like to complete the task with the PR

[2021-01-07 21:03] AlmasB commented on #925
Hi,

Yes, I think this should work.

Just to give a bit of context to why we ended up with duplication: initially only 2D code was there since the animation system was 2D. Since recent commits, we now support 3D too (experimentally). To avoid having multiple animations systems, translation animation internally uses a Point3D representation, which allows both 2D and 3D animations.

1. Given Quad/Cu

[2021-01-07 21:34] GeorgeJoLo commented on #925
Hello again!

I expected that the duplication came like this.

1) Excuse me, but I'm not really sure I understand this one.
2) Completely agree. I'm going to make it like this.
3) I will add 2 more tests (one for each class).

If you explain me the first one, I think I can commit a PR asap.

[2021-01-07 22:10] AlmasB commented on #925
Re: (1), just add 'internal' in front of the two 3D classes, so that they
cannot be used directly.

On Thu, 7 Jan 2021, 9:34 pm GeorgeJoLo, <notifications@github.com> wrote:

[2021-01-08 12:30] DieterMai opened #930 "Tutorial issues"
The tutorial has some issues that could be fixed:

Adding Collisions (FXGL 11)
- full source code unused import: import com.almasb.fxgl.dsl.FXGL

Simple Game Pong (FXGL 11)
- deprecated API is used: getUIFactory(). Use getUIFactoryService() instead.
- deprecated API is used: getGameState(). Use getWorldProperties() instead.

Simple Game Breakout (FXGL 11)
- deprecated API i used: from(). use entit

[2021-01-08 14:05] GeorgeJoLo commented on #925
I realized that, and I will implement so.
But, I would like to understand, why don't we want to access this classes from an other Module?
I'm thinking that, it's more meaningful to have the 2D classes as internal, because we can present 2D as a 3D object with z=0.

If you have enough time to explain me, I would really like to learn something!
Otherwise, I will just submit the PR now

[2021-01-08 14:21] AlmasB commented on #925
`AnimatedQuadBezierPoint2D` is a well-defined concept of **a 2D bezier curve**. So it can be used as a 2D curve.

`AnimatedQuadBezierPoint3D` is **not a 3D curve**. It is only created on an ad-hoc basis to avoid duplicating a larger codebase inside the animation system. In other words, `AnimatedQuadBezierPoint3D` shouldn't exist, or at least it should be implemented as a fully interpolated 3D curv

[2021-01-08 15:19] GeorgeJoLo commented on #925
I've just made a Pull Request, I hope everything be fine (first time I commit one)

[2021-01-09 17:44] #925 closed

[2021-01-09 17:45] #923 closed

[2021-01-11 19:12] AlmasB commented on #930
Many thanks, updated all 4 points

[2021-01-11 19:12] #930 closed

[2021-01-11 19:21] AlmasB opened #932 "Remove EventBusService"
This is not a service per se and was added ad-hoc to allow other services to access the event bus. It appears the SceneService (whose implementation is GameApplicationService) is better suited to house the EventBus instance and can therefore be injected via SceneService into other services.

[2021-01-12 18:00] AlmasB opened #933 "Add support for polygon bounding shape in lightweight physics"
Particularly, the origin (0, 0) should be checked when adding a polygon-based bounding shape.

[2021-01-12 20:58] #919 closed

[2021-01-15 19:12] #915 closed

[2021-01-17 09:06] AlmasB opened #934 "NotificationServiceProvider accesses scene width and height only once"
**Describe the bug**
If the game is then resized and auto scale is false, then notifications won't be centered.

**Additional context / possible fixes**
A fix is to slightly change internal API to bind to `sceneService.prefWidthProperty()`

Start from `NotificationServiceProvider, L47`.

[2021-01-17 10:40] AlmasB opened #935 "Allow seedable noise generation"
For reference: https://youtu.be/LWFzPP8ZbdU

[2021-01-17 18:50] AlmasB opened #936 "Pools.free / obtain is not thread-safe"

[2021-01-19 18:41] AlmasB opened #937 "Implement EditorApplication type"
In addition to games (which extend `GameApplication`), FXGL can be used to develop editors. Example: [dialogue editor](https://fxgl.itch.io/fxgl-dialogue-editor). Editors typically share some functionality:

* An infinite grid that can be traversed by clicking and dragging the mouse
* Zoom in and out on a specific point
* Z-axis rotations

Therefore, it could be useful to implement these into an `

[2021-01-22 11:21] #921 closed

[2021-01-22 11:27] AlmasB opened #938 "Add onPreUpdate() (tentative name) that runs on bg thread before onUpdate"
Certain operations, such as AI, particle simulations, Canvas drawings, can hinder `onUpdate()` performance, thus leading to fps drop in JavaFX. To fix, we can run a single background tick before JavaFX `onUpdate()`.

This needs to be carefully designed, so discussion is welcome.

[2021-01-22 12:50] AlmasB opened #939 "Migrate dev-SNAPSHOT deployment from Travis to GH"

[2021-01-22 18:45] AlmasB opened #940 "FXGLMenu::L114 ""Deleting ${saveFile.name}"" is not localized"
Other UI Strings are localized in FXGLMenu. Using these as examples, fix "Deleting ${saveFile.name}" to also be localized in target language. This requires adding a new entry in `fxgl` modules, `resources/fxglassets/languages/***.lang` for each supported language.

[2021-01-22 19:29] AlmasB opened #941 "Implement restoreDefaultSettings() in FXGLMenu"
Currently it's a no-op at L164.

[2021-01-22 19:32] #940 closed

[2021-01-22 19:34] AlmasB opened #942 "Open functions in FXGLDefaultMenu for easy override"

[2021-01-23 10:22] #906 closed

[2021-01-23 11:36] AlmasB opened #943 "Update function signature to match semantics"
DialogueGraph in `com.almasb.fxgl.cutscene.dialogue`

[code]

[2021-01-23 11:37] AlmasB opened #944 "Clean up DialogueGraph::appendGraph"
There are a lot of assumptions that, if not met, will crash the call

[2021-01-23 13:37] AlmasB opened #945 "Add atDestinationListener to AStarMoveComponent"
This listener / property would, unlike CellMoveComponent's property, notify when A* move has fully finished.

[2021-01-23 13:39] AlmasB opened #946 "Add a boolean flag that allows RandomAStarMoveComponent to move even if full destination was not reached"

[2021-01-23 19:11] AlmasB opened #947 "Warning log level should capture full throwable stack trace"
`log.warning(message, e)`

[2021-01-24 17:33] AlmasB opened #948 "Complete AnimatedValueTest"
Currently the following code is not tested:

[code]

The tests should be added to AnimatedValueTest in fxgl-animation

[2021-01-25 16:46] AlmasB opened #949 "Create InventorySample in fxgl-samples"
To show how to use the inventory API (from fxgl-trade).

[2021-01-27 15:52] adambocco commented on #948
@AlmasB
I'm new to open-source contribution and would love to help out with this.

[2021-01-27 16:54] AlmasB commented on #948
Cool! Go for it!

Let me know if you get stuck

On Wed, 27 Jan 2021, 3:53 pm Adam Bocco, <notifications@github.com> wrote:

[2021-01-27 21:08] AlmasB commented on #948
Closed by #951

[2021-01-27 21:08] #948 closed

[2021-01-28 12:42] hendrikebbers opened #952 "Parent-Child-Relation of Entities: Remove Parent"
I created a parent child relation of `Entity` instances by providing parent child behaviour in `Component` classed.
When the parent entity is deleted I want to remove all child entities, too.

I'm using a `EntityWorldListener` to remove all children once the parent has been removed:
[code]

When I uncomment the comment line in the code snippet I will receive the following exception:

[code]

[2021-01-28 14:05] AlmasB commented on #952
Adding / removing entities during addition / removal of an entity is a design limitation to avoid concurrency issues. I think it's undocumented, so an action from this issue is on me to document this behaviour.

Workarounds depend on the use case, a common one:

Suppose you have a parent child component similar to this:

[code]

Somewhere in your code `parent` gets removed from the world:

[code]

[2021-01-28 14:14] hendrikebbers commented on #952
Sadly this won't work since the 'parent' can be removed based on several actions. A common fix for such use case would be the usage of a CopyOnWriteArrayList instead of using a ArrayList.

[2021-01-28 14:19] AlmasB commented on #952
`CopyOnWriteArrayList` may introduce performance issues, though this would have to be tested.

How about:
[code]

[2021-01-29 12:26] hendrikebbers commented on #952
That Works :) THX

[2021-01-29 12:26] #952 closed, assigned to nobody

[2021-01-29 13:53] #820 closed

[2021-01-29 14:01] AlmasB opened #953 "Inventory - allow setting max item quantity"
When calling `fun incrementQuantity(item: T, amount: Int): Boolean` we should check max item quantity limit and split the "stack" into a new item data object

[2021-01-31 01:14] adambocco commented on #949
Hi again, I would like to take a crack at this. I have already been looking at fxgl-trade and fxgl-samples and think I can create a simple inventory sample such as picking up and dropping items from a bag.
Let me know what you think.
Thanks!

[2021-01-31 08:07] AlmasB commented on #949
Sounds good. Currently there is no inventory view, so you can either build
one just for the sample, or just have UI buttons that add/remove items

On Sun, 31 Jan 2021, 1:14 am Adam Bocco, <notifications@github.com> wrote:

[2021-01-31 09:55] UltraBurstXD opened #954 "Does FXGL use GRAALVM?"
Hi,
I want to know if FXGL uses GRAALVM AOT to target mobile or embed systems. That because I think it's heavy (not well optimized) for low-end computer systems...

[2021-01-31 12:54] AlmasB commented on #954
Hi, when targeting mobile, FXGL uses [Gluon Client](https://github.com/gluonhq/client-maven-plugin), which, in turn, is based on graalvm, so yes.

[2021-01-31 12:56] AlmasB opened #955 "Improve physics tick performance"
Some improvements include:
- [ ] using a type-based split of entities to reduce collision checks -- based on handlers we know which types can collide -- keep Map<Type, Array<Entity>> and update on entity add / remove
- [x] using a quadtree or similar spatial partition
- [x] SAT code inline to avoid calls to newVec and free + use sin/cos LUT
- [x] BoundingBoxComponent::isColliding should be split i

[2021-01-31 13:01] UltraBurstXD commented on #954
I see...

[2021-01-31 13:01] #954 closed, assigned to nobody

[2021-01-31 20:58] AlmasB commented on #843
The basis for this is done in 11.13

[2021-01-31 20:58] #843 closed

[2021-01-31 21:01] AlmasB commented on #779
Redesign complete

[2021-01-31 21:01] #779 closed

[2021-01-31 21:01] AlmasB opened #956 "Refactor FXGLDefaultMenu"
Plus, FXGLMenu has a lot of legacy code that needs to be dealt with appropriately.

Plus, need to fix UI in places, e.g. sound / music volume and other inconsistent behavior.

[2021-01-31 21:05] AlmasB opened #957 "Design and implement default InventoryView"
In the fxgl-trade module we have Inventory API, we now need to provide a default InventoryView with some reasonable settings such as width and height and a default look.

Most of the time, developers will produce their own views using Inventory.

We should consider if the "sort" functionality responsibility of the view or the model. Example: sort by name...

[2021-01-31 21:06] AlmasB commented on #788
Extracted view issue into #957 . The API is complete.

[2021-01-31 21:06] #788 closed

[2021-02-02 09:37] AlmasB opened #959 "Add new .bbox() to EntityBuilder"
`.bbox(BoundingShape)` which simply creates a new HitBox and delegates to an existing `bbox()`

[2021-02-02 17:06] AlmasB commented on #949
closed by #958

[2021-02-02 20:38] AlmasB commented on #959
Closed by #960

[2021-02-02 20:38] #959 closed, assigned to nobody

[2021-02-02 20:45] AlmasB commented on #957
Something like the inventory in [Zephyria](https://github.com/AlmasB/Zephyria)

The API probably should be:

[code]

[2021-02-05 16:34] adambocco commented on #953
Hey again,

I'd like to work on this.

Thanks

[2021-02-05 16:40] AlmasB commented on #953
Cool, please provide a short API design and your approach to implement it,
so we can discuss. For example, one immediate point is how we are planning
to store split stacks. I don't think current approach (i.e. data structure)
is sufficient because of duplicate keys.

On Fri, 5 Feb 2021, 4:35 pm Adam Bocco, <notifications@github.com> wrote:

[2021-02-05 17:49] AlmasB opened #961 "Warn and ignore (instead of crashing) if an entity is being to the game world more than once"
This is at GameWorld.kt::L73 in fxgl-entity. Also we should do something similar for removeEntity L108 same file.

Tests will probably need updating too.

[2021-02-05 20:47] oseph commented on #961
Perhaps in the EntityFactory documentation there could be mention that buildAndAttach should not be used in a call to `spawn()`? I think part of what confused me (as a n00b) is that in the current documentation I couldn't really tell the two methods apart.

[2021-02-05 20:51] AlmasB commented on #961
Thanks for the feedback, I will update the documentation as part of this
issue

On Fri, 5 Feb 2021, 8:47 pm Josh Holinaty, <notifications@github.com> wrote:

[2021-02-08 15:21] addstone opened #962 "UI Editor support?"
UI Editor support?

[2021-02-08 17:45] AlmasB commented on #962
Hi,

Could you elaborate on this please?

On Mon, 8 Feb 2021, 3:22 pm LuDaShi, <notifications@github.com> wrote:

[2021-02-08 17:54] AlmasB opened #963 "Provided "embedded" mode support"
Allow running FXGL natively inside a different JavaFX application. By design, this is currently not possible. Hence, a change in architecture will be needed.

Ideally, we should preserve as much of FXGL functionality as possible, while allowing FXGL to be "exported" into a Node.

[2021-02-08 21:04] #939 closed

[2021-02-09 04:26] addstone commented on #962
Something like this
https://www.cocos.com/wp-content/uploads/2021/02/11.jpg

[2021-02-09 08:25] hendrikebbers opened #964 "In 11.13 event handler can not be removed anymore"
The following code worked as expected in `11.12`:

[code]

With an update to `11.13` the `removeEventHandler` does not work anymore. The event handler is still registered.

[2021-02-09 09:05] AlmasB commented on #964
[Add / remove event handler test](https://github.com/AlmasB/FXGL/blob/dev/fxgl-input/src/test/kotlin/com/almasb/fxgl/input/InputTest.kt#L510) is passing and I cannot seem to reproduce this manually either. Perhaps the issue is elsewhere? If there is a minimal reproducible example that would help too.

[2021-02-09 09:21] AlmasB commented on #962
Ah I see, yes, there is a long-term plan for an editor: #362

[2021-02-09 09:21] AlmasB commented on #962
Ah I see, yes, there is a long-term plan for an editor: #362

[2021-02-09 10:30] AlmasB commented on #964
The behaviour might be related to the semantics of [this change](https://github.com/AlmasB/FXGL/commit/7073b14cc1ee8017e1b6648852f9f01f29493616). Both filter and handler capture the same event. However, if the same event is being fired into both filter _and_ handler, then it is a bug. I'll look into this later today.

[2021-02-09 14:58] hendrikebbers commented on #964
I will try to provide a sample :)

[2021-02-09 15:14] hendrikebbers commented on #964
Interesting behavior. While I can not reproduce the mentioned error with a first sample I found another problem.
Sample Code:
[code]
Once the application started you will see a "ON EVENT" message for every mouse click (mouse release) on the canvas until the "PING" message is printed to the console. Afterwards no message will be shown for mouse clicks.

With 11.12 the behavior is as expected but wi

[2021-02-09 15:47] hendrikebbers commented on #964
And this sample shows the initially described problem. This happens only when handers are added / removed within a handler. The following code produces different output to the console when using it with 11.12 or 11.13:

[code]

[2021-02-09 17:32] AlmasB commented on #964
Thanks for this. This is indeed a bug caused by the addition of event
filters in 11.13. The javafx scene fires both filters and handlers through
the same node in Input, causing event duplication.

I will turn these samples into integration tests (unit tests are passing
and won't work here since each module behaves correctly on its own) and
then fix the bug.

On Tue, 9 Feb 2021, 3:47 pm Hendrik Ebb

[2021-02-10 10:23] AlmasB opened #965 "Add player grow-shrink controls to PhysicsCollisionSample"
The sample is in fxgl-samples /   sandbox: https://github.com/AlmasB/FXGL/blob/dev/fxgl-samples/src/main/java/sandbox/PhysicsCollisionSample.java

We need to add a few `onKeyDown()` that will enlarge / shrink the player by changing its scale. So we can check various collision situations. The ability to rotate the player would also be useful here.

[2021-02-10 13:53] AlmasB commented on #964
This should now be fixed, once the CI completes (5-10mins), to get the latest build, you can use this:
[code]

Please can you check and let me know if everything works as expected?

[2021-02-11 09:05] #849 closed

[2021-02-11 09:19] hendrikebbers commented on #964
Will do later. THX

[2021-02-13 13:16] AlmasB opened #966 "Add isLoggingEnabled to EventBus"
Currently, EventBus will log each event that was fired. This can become problematic when the game has lots of events. Using this boolean flag, (set to true by default to be consistent with current implementation), developers can control this behaviour.

[2021-02-15 13:13] hendrikebbers commented on #964
Looks like the event handling issue is solved. But several JavaFX shapes are not visible anymore when using this version. I always add one javafx Group that implements the FXGL View interface to an entity. Looks like this groups are not visible anymore.

[2021-02-15 13:13] hendrikebbers commented on #964
I will try to provide a sample

[2021-02-15 13:23] hendrikebbers commented on #964
Looks like it is related to the Z index. My shapes are part of the scene but with the update they are all behind entities that have a lower Z-Index

[2021-02-15 13:25] AlmasB commented on #964
The setZ() semantics changed in 11.13 since we now support 3D. Please use
setZIndex() to set z-index. Let me know if it works

On Mon, 15 Feb 2021, 1:23 pm Hendrik Ebbers, <notifications@github.com>
wrote:

[2021-02-15 13:27] hendrikebbers commented on #964
yes, that solves the problem :)

[2021-02-16 20:32] #964 closed, assigned to nobody

[2021-02-17 07:44] sormuras opened #967 "Allow assets to be stored in Java module's packages"
Today, when bundling FXGL assets in a Java module, one has to use packages that start with `assets.` and open them to FXGL. Like in this [module-info.java](https://github.com/sormuras/toccata/blob/main/com.github.sormuras.toccata/module-info.java):

[code]

I'd like to store all assets below the `com.github.sormuras.toccata` "namespace" in order to avoid conflicts with other modules that might bri

[2021-02-17 09:01] AlmasB commented on #967
This proposal looks good. Provided the current behaviour remains unaltered, this would be a good feature to have.

This needs to become a constant value in the context of the engine's lifetime, so it will go to:

[code]

All other code, e.g. `texture("stone.png")` should remain unchanged, since the above setting should tell FXGL to look for `assets` in "com.github.sormuras.toccata". This sounds re

[2021-02-17 09:14] sormuras commented on #967
Perhaps, the feature needs to be module-aware at runtime. Meaning, a `texture("stone.png)` called in module `foo` expects to load from package `foo.assets.textures` and when called from module `bar` it is package `bar.assets.textures`.

[2021-02-17 09:22] AlmasB commented on #967
All of asset loading comes down to [this function](https://github.com/AlmasB/FXGL/blob/dev/fxgl/src/main/kotlin/com/almasb/fxgl/app/services/FXGLAssetLoaderService.kt#L475) to obtain a url. So module-awareness would need to be baked in there somehow?

[2021-02-17 09:28] sormuras commented on #967
`Class.getResource(String)` delegates to [ClassLoader.findResource(String,String)](
https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/ClassLoader.html#findResource(java.lang.String,java.lang.String)) ... which could help here, methinks.

[2021-02-17 09:37] AlmasB commented on #967
Ok, I'm happy to look at it in more detail as a separate issue -- currently there's a bunch of assets provided internally by `fxgl.all` module, which we should be able to read. So if we have

[code]

asset loading first should check the module in which we are running. If it's `foo` we load stone.png from foo. Suppose the file is not there, then we should load stone.png from `fxgl.all`. <-- this be

[2021-02-17 09:57] sormuras commented on #967
Not this week. Already planned my hacking resources to their limit...

[2021-02-17 10:16] AlmasB commented on #813
Here's a [nice example](https://github.com/dlsc-software-consulting-gmbh/GemsFX/blob/master/gemsfx/src/main/java/com/dlsc/gemsfx/ExpandingTextArea.java) by Dirk:

[2021-02-17 20:46] #822 closed

[2021-02-17 21:42] adambocco commented on #953
@AlmasB Sorry for the delay, I am in school and have been busy. I have given this some thought and I have two ideas.

1: - Add field maxStackQuantity to ItemData class
    - Change itemsData field in Inventory to hash map ( T -> ObservableList<ItemData<T>>
    - When incrementQuantity is called, it will traverse list and add on first stack that is not at capacity.

This would allow users to split

[2021-02-17 22:22] AlmasB commented on #953
The first option seems most consistent with the current approach. Plus the
new API should be compatible with the current one. The items() list is
essentially the keys of the new map. Though getItemData will be returning a
list I assume.

Feel free to go ahead with the implementation. It would probably be
sensible to start with a test, then implementation, then finally update the
sample with this n

[2021-02-18 09:40] AlmasB opened #968 "Pool Entities by type by enabling setPoolable(boolean)"
GameWorld should have a map, pooling `<Type -> List<Entity>>`

Entity::clean will check isPoolable, then either clean as before or reset Components.

Components need to have onReset() callback

[2021-02-19 09:21] AlmasB commented on #967
To get the latest build, you can use this:
[code]

Here's [the sample](https://github.com/AlmasB/FXGL/blob/dev/fxgl-samples/src/main/java/sandbox/CustomPathAssetsSample.java) showing how to set a different base package. In that sample, the `testcoin.png` file is located in `src/main/resources/com/almasb/testpackage/assets/textures/testcoin.png`. Please let me know if this works for your use case.

[2021-02-19 09:50] sormuras commented on #967
I'll give it a shot in a minute and report back here.

[2021-02-19 10:42] sormuras commented on #967
Works great for a single module project.

Double-checking for when two (or more) modules are involved...

[2021-02-19 13:28] sormuras commented on #967
...as expected, a single application-wide base package is not working out for when multiple modules need provide their own base package names.

![image](https://user-images.githubusercontent.com/2319838/108509720-e6b5ed80-72bd-11eb-9e6f-2ba1ba24be42.png)

Browse the history of toccata at this commit: https://github.com/sormuras/toccata/tree/97aef7523832e06ce569e06a2f913d3148dd9a2d

TL;DR

The "bas

[2021-02-19 14:12] sormuras commented on #967
Perhaps, the base package change feature (`settings.setBasePackageForAssets(...)`) should be dropped in favor of the URI loading feature then.

[2021-02-19 18:28] #860 closed

[2021-02-20 09:38] dykstrom opened #969 "TMXLevelLoader does not read tileset margin"
**Describe the bug**
The TMXLevelLoader does not read the "margin" attribute of the "tileset" element in the tmx file. This leads to tiles looking strange if the tileset does in fact have a margin. The margin attribute should be read like the spacing attribute.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tmx file that uses a tileset image that has margins.
2. Load tmx file in FX

[2021-02-20 09:45] AlmasB commented on #969
Thanks, please can you include a minimal example tmx file (with everything it needs), so I can use it for development.

[2021-02-20 09:46] dykstrom commented on #969
Hi, I just submitted a PR for this. :-)

[2021-02-20 09:47] AlmasB commented on #969
Even better, many thanks, will check after CI.

[2021-02-20 10:14] AlmasB opened #971 "Add DSL API"
Currently we have shortcuts for `.view(filename)`. We now also support loading from a URL.

Current API:
[code]

- [x] New additional API:

[code]

- [x] Same addition is needed for `.viewWithBBox()`
- [ ] FXGL.texture(URL)
- [ ] FXGL.image(URL)
- [ ] FXGL.play(URL)
- [ ] FXGL.loopBGM(URL)

[2021-02-20 10:15] #969 closed, assigned to dykstrom

[2021-02-20 10:35] sormuras commented on #971
What about hiding the `getClass().getResource("...")` as well? For example, by providing a dedicated `viewResource("...")` variant that delegates to `.view(getClass().getResource("..."))`.

[2021-02-20 10:37] AlmasB commented on #971
I thought about it, but not sure if getresource() call will succeed. I'll
check it

On Sat, 20 Feb 2021, 10:35 am Christian Stein, <notifications@github.com>
wrote:

[2021-02-20 11:04] sormuras commented on #971
https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/lang/StackWalker.html to the rescue. ;-)

[2021-02-20 13:27] #967 closed, assigned to AlmasB

[2021-02-21 09:17] #895 closed

[2021-02-21 09:17] #907 closed

[2021-02-21 10:24] #836 closed

[2021-02-22 20:46] AlmasB opened #974 "Update "Customizing Menus" wiki entry for 11.14"

[2021-02-23 02:06] qq1053831109 opened #975 "can i write my shader in javafx?"
can i write my shader in javafx?

[2021-02-23 20:46] AlmasB commented on #953
Closed by #973

[2021-02-23 20:46] #953 closed, assigned to adambocco

[2021-02-24 08:53] AlmasB commented on #974
Completed in https://github.com/AlmasB/FXGL/wiki/Customizing-Menus-(FXGL-11)

[2021-02-24 08:53] #974 closed, assigned to AlmasB

[2021-02-24 09:51] AlmasB commented on #975
I don't think this is possible from public API, but @johanvos is better suited to answer this question.

[2021-02-25 09:22] qq1053831109 commented on #975
can i use webview read local file? i want use webgl for view 3d model it need shader!

[2021-02-25 09:30] johanvos commented on #975
There is indeed no public JavaFX API for this, as not all platforms use GLSL, hence it would break the platform independency. It is possible though to create native components and then use e.g. the PixelBuffer API (which is public) to integrate between those components and your JavaFX app.

[2021-02-25 14:13] qq1053831109 commented on #975
in some time，we just need make one exe for windows! so we dont need independency!

[2021-03-02 10:59] AlmasB opened #977 "AssetLoader PropertyMap and Text should not be cached"
Instead, a new copy should be returned

Also check `List<String>` for text

[2021-03-02 12:44] chengenzhao opened #978 "Bind GameApplication width & height property to FXGLPane prefWidthProperty & prefHeightProperty"
Hi:

We are experimenting embed mode of FXGL
and is it possible to bind width & height properties of GameApplication to pref width & height properties of FXGLPane ?
thus we could adjust fxgl pane when adjusting the scene size.

thx

[2021-03-02 13:02] chengenzhao commented on #978
For example
if we adjust fxgl pane width & height
the game width & height will adjust accordingly

var fxglRoot = GameApplication.embeddedLaunch(new MyGame());
fxglRoot.setPrefWidth(600);//the game width will adjust to 600 accordingly

[2021-03-02 14:09] AlmasB commented on #978
Hi,

Thanks, yeah this is something I've been thinking about. My current plan is to have something like this:

[code]

[2021-03-02 23:34] adambocco commented on #756
@AlmasB
Is flipping tiles currently unsupported? Even if a flip is done within the bounds of int, it will still fail here:

https://github.com/AlmasB/FXGL/blob/705e65968326afca51c5be9260b09af97cc388d7/fxgl-entity/src/main/kotlin/com/almasb/fxgl/entity/level/tiled/TilesetLoader.kt#L279-L287

If you haven't started working on this yet, I'll take a look at it and get back to you with a plan.

I read

[2021-03-03 09:13] AlmasB commented on #756
Flipping *should* be supported, but the parsing is failing due to this issue. You are welcome to have a look and propose a plan, and we can go from there.

[2021-03-03 13:39] AlmasB commented on #978
`renderWidth/Height` should now be present in `dev-SNAPSHOT`:
To get the latest build, you can use this:
[code]

The API is named to clearly delineate from the JavaFX API.

The behaviour remains consistent as compared to FXGL running normally in a Stage:

1. (with settings.isScaleAffectedOnResize set to false)

![Screenshot 2021-03-03 13 10 35](https://user-images.githubusercontent.com/3594742/109

[2021-03-03 18:06] AlmasB commented on #966
closed by #979

[2021-03-03 18:06] #966 closed, assigned to nobody

[2021-03-04 04:21] adambocco commented on #756
My idea is to store Layer.data which is now `List<Int>` to `List<Long>`.

I think something  can be done with base64 encoding with a technique like [this]( http://www.java2s.com/example/java/java.nio/get-unsigned-int-from-bytebuffer.html)

Then the actual flipping can be handled when calling loadView from creatTileLayerEntities like it already is when calling the overloaded loadView createObjectLa

[2021-03-04 04:52] chengenzhao commented on #978
wow
It works
Besides this function
Is it possible to make settings width & height properties thus we could bind these properties to other JavaFX properties?

Thanks

[2021-03-04 08:49] AlmasB commented on #978
You can use `settings.prefWidthProperty() / prefHeightProperty`. If the auto-scale is on, then these values are the same as settings.width / height and do not change. If the auto-scale is off, then these values change with stage.width / height, (or render width / height if running in embedded mode).

[2021-03-04 09:04] AlmasB commented on #756
Yeah, I think this is fine.

For now, let's just focus on the raw data (i.e. without base64). So we should probably have a sample to go to fxgl-samples / / sandbox where a tile has 4 states: normal, flip hor, flip ver, flip both. This sample should currently fail to load.

I assume TilesetLoader won't have to change.

There's some code that deals with object flipping, which seems to be using UInt:

[2021-03-04 09:27] chengenzhao commented on #978
Thanks
but seems like there is no prefWidthProperty() in the game settings?

<img width="659" alt="Screen Shot 2021-03-04 at 5 25 56 PM" src="https://user-images.githubusercontent.com/5525436/109942008-b5520e80-7d0e-11eb-8ce7-9d7daaadce5c.png">

[2021-03-04 09:29] AlmasB commented on #978
`FXGL.getSettings()` is the settings we need (after the engine is ready, e.g. in initGame()). The one inside `initSettings()` is the mutable one, only used during initialization.

[2021-03-04 09:36] chengenzhao commented on #978
Found it
but it is read only property so we couldn't change the value by binding pref width property to other properties
Is it possible to change setting during the running of the game?

[2021-03-04 09:39] AlmasB commented on #978
It cannot be changed since it reflects the following:

If you are running in embedded mode _and_ with `settings.isScaleAffectedOnResize` set to false, then you can change render Width / Height of `FXGLPane`, which will change the read-only pref width / height accordingly.

If the above does not work for your use case, feel free to provide more info on what you are trying to achieve.

[2021-03-04 09:41] AlmasB opened #980 "Add WaypointMoveComponent"
To go to `fxgl` module under `dsl.components`. The component moves the entity using provided Point2D waypoints.

Existing move-related components can be studied: https://github.com/AlmasB/FXGL/tree/dev/fxgl/src/main/kotlin/com/almasb/fxgl/dsl/components

Please provide API design first, before implementation.

[2021-03-04 11:41] chengenzhao commented on #978
It works, thanks

[2021-03-04 22:17] adambocco commented on #756
Yes it would work either way, I just went with Long because of Java and because the issue called for it.  However, kotlin Uint would save space and if you want I can go with that until I see some conflict with Java.

I can definitely can create a sample, I would create something like this anyway to verify the code.

For tiles, we are creating a single ImageView by using WritableImage to place the

[2021-03-05 09:06] AlmasB commented on #756
I think we can move to implementation.

`Long` is fine, let's keep it to avoid potential issues.

I've skimmed through loadView() in tileset loader and I think the flip check needs to be done here:

https://github.com/AlmasB/FXGL/blob/b5442a8feff8d9595a5c48b330753bcfc6280e49/fxgl-entity/src/main/kotlin/com/almasb/fxgl/entity/level/tiled/TilesetLoader.kt#L92

As for the actual flipping, I think it'

[2021-03-06 10:53] #714 closed

[2021-03-06 22:49] adambocco commented on #756
@AlmasB

Hi thanks for the implementation, I have started on this tonight and noticed this:

![image](https://user-images.githubusercontent.com/54448507/110222728-676e0f80-7ea2-11eb-99c8-68a0c77ea420.png)

Diagonal flips need something like this:

[code]

This of course is tricky because of non-square tiles going out of bounds of the image. Tiled has a weird way of handling this, where a diagonall

[2021-03-07 09:07] AlmasB commented on #756
1. Regarding `flipDiagonally()`, for now let's just read the bits, but not actually do anything with the result:

[code]

We can solve this in the future, as needed.

2. > This map has no flipped tiles but will still fail in TilesetLoader as it tries to write out of bounds. I thought it was worth mentioning because going forward, I'm not sure how you want me to handle cases in which there are non-

[2021-03-07 09:19] #978 closed, assigned to AlmasB

[2021-03-07 09:22] AlmasB opened #981 "Wiki: add entry for Entity States and StateComponent API (FXGL 11)"
This should include a brief explanation of how states work and how to use them

[2021-03-07 09:24] AlmasB opened #982 "Wiki: add entry for Scenes SubScenes Screens (FXGL 11)"
An example with some text explaining how scenes and sub-scenes work

[2021-03-07 09:26] AlmasB opened #983 "Wiki: update entry for Core Features"
Most of the features have changed since the first version of FXGL. The page needs to be updated to use the correct terminology, remove features that are not supported any more, add new features that have been introduced since last time.

[2021-03-07 09:27] AlmasB opened #984 "Wiki: update entry for Math Functions (FXGL 11)"
Link: https://github.com/AlmasB/FXGL/wiki/Math-Functions-%28FXGL-11%29

Update to include commonly used Math functions with code snippets and some explanations

[2021-03-07 09:35] AlmasB commented on #289
Specific pages that need help with updating have been identified and extracted into issues: #981, #982, #983, #984

[2021-03-07 09:35] #289 closed

[2021-03-07 12:52] AlmasB commented on #913
Given `javafx.base` requires `java.desktop` and that there is nothing we can do from here, and that all of the modules read only what they need and just rely on fxgl-module dependencies, I think this is closed now.

[2021-03-07 12:52] #913 closed

[2021-03-07 12:54] AlmasB commented on #894
Cutscenes now support this, so we need to see how to reuse it.

[2021-03-07 15:24] adambocco opened #985 "Tilesheet and Tiled map of non-uniform dimensions fail or render unexpected results"
**Describe the bug**
When creating a map in Tiled for tiles of size 32x16 and using a tilesheet defined with 16x32 tiles there are some cases in which tiles placed partially out of bounds throw an error. For example, placing an over-sized tiled at the top-left does not throw an error.

![image](https://user-images.githubusercontent.com/54448507/110243465-77303700-7f28-11eb-8e2d-b32c22078d94.png)

[2021-03-09 09:13] AlmasB commented on #756
This is now closed by #986 and includes horizontal and vertical flipping. Diagonal flipping is not currently supported and an issue will be raised in the future based on demand.

[2021-03-10 11:11] AlmasB commented on #901
Update:

The roadmap for 3D is now clearer.

- [x] Phase 1: Introduce boilerplate and make FXGL understand what 3D is.
- [x] Phase 2: Introduce custom 3D shapes to work seamlessly with FXGL architecture as views for entities, using FXyz shapes as reference for formulae
- [x] Phase 3: Introduce `.obj` format loader, building on infrastructure from Phase 2.

[2021-03-10 18:36] adambocco commented on #981
Hello @AlmasB ,

I have been playing around with the StateComponent API and looked through the Robot Platformer in `FXGL-samples>Java>Advanced>Platformer` which makes use of it. I'd like to work on this and after a little more studying I will come back to you with an outline of what I want to write for this Wiki. This is also the first time I will be writing a Wiki but I will try to conform my wri

[2021-03-10 18:56] AlmasB commented on #981
Great stuff, thanks for letting me know!

On Wed, 10 Mar 2021, 6:37 pm Adam Bocco, <notifications@github.com> wrote:

[2021-03-11 15:39] adambocco commented on #981
@AlmasB
After some consideration I think this might be a good outline to go with:

### Introduce the API:
  - Provide a brief introduction to FXGL's use of entity state such as:
`The state component can be added to entities to provide an API that defines and manages entity states and their transitions to other states.`

### Entity State:
  - Discuss how to create an entity state and some of the me

[2021-03-11 17:56] AlmasB commented on #981
All looks good. One comment about the example: state API + physics is probably a bit complex, so I'd get rid of physics. Maybe start with a Component, in which the update does:

[code]

This is a good use case that can be refactored into State API.

Or better still, if you can think of some AI maybe for your own game, where you'd need to use multiple states, e.g. Patrol, Attack, Flee, etc. Typical

[2021-03-11 19:36] AlmasB commented on #961
@adambocco could you take a look at this one please, when you've got time.

[2021-03-11 19:43] adambocco commented on #961
@AlmasB
Definitely!

It's a busy week for me but after Saturday I will have much more time.

Thanks!

[2021-03-12 20:19] adambocco commented on #981
@AlmasB

What is the procedure for making a PR for a wiki? I have a draft of the wiki I'd like to get your input on. You can find it [here](https://github.com/adambocco/FXGL-stateComponentWiki/blob/master/stateComponentWiki.md).

Thanks!
Adam Bocco

[2021-03-12 20:48] AlmasB commented on #981
Just adding here to the issue is fine, makes it easy to edit. Once complete, I usually create a page and add author's name at the top. I'll copy your text below and provide feedback.

[2021-03-12 20:56] AlmasB commented on #981
I've skimmed through it, looks really good. Many thanks.

Added here: https://github.com/AlmasB/FXGL/wiki/Entity-States-and-StateComponent-API-(FXGL-11)

[2021-03-12 20:56] #981 closed, assigned to nobody

[2021-03-13 08:59] AlmasB opened #987 "Add fighting game example"
Using various assets from fxgl-samples (or external free to use assets), build a small example of a 2d fighting game example, similar to a simplified version of MK1 with just two fighters.

[2021-03-14 13:36] AlmasB commented on #961
Closed by #988

[2021-03-14 13:36] #961 closed, assigned to nobody

[2021-03-14 13:55] adambocco commented on #985
@AlmasB
I'm glad to work on this after determining what the expected behavior should be. However, if you have other open issues that are more pressing, just mention me or let me know.

Thanks

[2021-03-14 14:04] AlmasB commented on #985
I will need to think about the expected behavior for these cases. Meanwhile, I'll mention you in a few other issues, which may be of interest.

[2021-03-14 14:10] AlmasB commented on #912
@adambocco might be of interest?

[2021-03-14 14:10] AlmasB commented on #935
@adambocco might be of interest?

[2021-03-14 14:10] AlmasB commented on #947
@adambocco might be of interest?

[2021-03-17 14:35] adambocco commented on #947
@AlmasB

Do you just want this change made to the `warning(message, error)` and not `warning(message)`. If so something similar to what happens at the fatal level would be fine wouldn't it?

[code]

[2021-03-17 16:58] AlmasB commented on #947
Yes, since `warning(message)` is self-contained, whereas with `error` we know the cause, which should be printed in full.

As for the above solution, yes that's what I had in mind. I opted in for the single line print (as it is now), but that, sometimes, doesn't provide the necessary info behind the error. The full stacktrace might be an overkill (I'm particularly worried about `warning()` calls d

[2021-03-17 17:15] AlmasB opened #989 "Rebind default screenshot key to something different and not 'P'"

[2021-03-18 12:58] AlmasB commented on #947
Closed by #990

[2021-03-18 12:58] #947 closed

[2021-03-19 10:29] #826 closed

[2021-03-19 19:06] AlmasB commented on #912
Notes and draft API

[code]

Not sure of the best way to give download size back to user. Might be possible to just add a new function:

[code]

OR wrap with an IOTask<> too. Need to weigh up advantages / disadvantages. Either way, the user needs to know that this is a slow operation, not to be done in UI thread.

For URL stream to Path, the copy operation should be done in a similar way to how JD

[2021-03-19 19:08] AlmasB commented on #912
@adambocco let me know if you are interested. If not, I'll give this a go over the weekend.

[2021-03-20 12:56] adambocco commented on #912
@AlmasB sorry midterms are sucking a lot of my time.

I spent a lot of time looking at this and a lot of it was new to me. I think you should probably handle this.

Thanks!

[2021-03-20 13:02] AlmasB commented on #912
No problem, good luck with the midterms!

[2021-03-24 19:35] adambocco commented on #935
@AlmasB

It looks like the three functions that should be seeded are `noise1D`, `noise2D`, and `noise3D`.

I have played around with `noise2D` and get good effects from just randomizing the offset for the x and y inputs:

[code]

Here's an example of that:
![image](https://user-images.githubusercontent.com/54448507/112372557-543aac80-8cb6-11eb-9075-ba709089b7c4.png)

For `noise1D`, [the reference

[2021-03-24 21:07] AlmasB commented on #935
I'm skimmed through the noise implementations we currently use: Perlin for 1D and Simplex for 2D/3D. It appears 2D/3D are already deterministic, as in for the same input x,y,(z) we get the same output. Can you confirm this?

If the above is correct, then we only need to modify 1D. In addition to the 1D function present, users should be able to call:

[code]

so that for given `seed, t` the output

[2021-03-25 00:30] adambocco commented on #935
Yes, 2D and 3D are deterministic.

Looking at `PerlinNoiseGenerator.kt` for 1D, my first thought is to add a field for `seed` and change `setSeedAndReinitialize()` to take a seed which is called in `init`.

[code]

Change `setSeedAndReinitialize` to seed by creating a seeded `Random` object and matching how [the reference code](https://github.com/CRYTEK/CRYENGINE/blob/release/Code/CryEngine/CryCom

[2021-03-25 09:07] AlmasB commented on #935
I think Perlin generator shouldn't be static. Then API becomes simple:

[code]

The seed above should be a `val`, so each generator is immutable so to speak.

So, FXGLMath will have its own internal generator instance to work with existing `noise1D(t)`. As for new API, should we change it to:

[code]

Then users can get their own instance and work with it as needed.

[2021-03-25 10:56] #968 closed, assigned to AlmasB

[2021-03-25 15:26] adambocco commented on #935
I think giving the user the generator is the way to go. Currently it looks like `noise1D` calls `setSeedAndReinitialize` on every call and this change would only require that once .

Should I keep direct access to `noise1D` for compatibility? There are a few occurences of it that might not be simple changes. Notably in **animation** -> `interpolators.kt` :
https://github.com/AlmasB/FXGL/blob/51933

[2021-03-25 16:46] AlmasB commented on #935
This is likely to be expensive, particularly in loops:

[code]

So we should have a `private static final generator` inside FXGLMath that would supply noise1D with current API. The

[code]

looks fine.

[2021-03-25 16:48] #975 closed, assigned to nobody

[2021-03-26 09:02] #935 closed

[2021-03-27 19:16] AlmasB opened #993 "Identify all places where exceptions are thrown within FXGL that can be replaced with a warning"
To fix, all files and lines where the above happens should be reported here. Ctrl + Shift + F in IntelliJ can be used to search for the "throw" keyword.

[2021-03-27 19:17] AlmasB opened #994 "Produce community role descriptions"

[2021-03-28 08:59] AlmasB opened #995 "Consider use of game world inside a generic Scene"
This allows us to add entities to any Scene, not just GameScene. Creates new opportunities to have gameplay within sub scenes, game menus , loading, etc.

[2021-03-28 09:00] AlmasB opened #996 "Add a setting that allows pausing music when the window is minimized"

[2021-03-28 18:25] AlmasB commented on #897
In 11.15 many modules got grouped by their nature / topic / logic, so this issue is now obsolete. Once the grouping process is complete, documentation will be checked separately.

[2021-03-28 18:25] #897 closed

[2021-03-29 10:25] hendrikebbers opened #997 "Wrong mouse position for FXGLPane"
When integrating a FXGL application to another JavaFX application `FXGL.getInput().getMousePositionWorld()` returns the mouse position in the global stage and not within the FXGL world.

[2021-03-29 11:53] AlmasB commented on #997
Thanks, both UI (FXGL UI space) and World (FXGL game space) positions should now be calculated from the FXGLPane's perspective. Please check when convenient.

[code]

[2021-03-29 12:38] #994 closed, assigned to AlmasB

[2021-03-31 08:23] hendrikebbers commented on #997
working :) THX

[2021-03-31 08:23] #997 closed, assigned to AlmasB

[2021-03-31 18:17] #772 closed

[2021-03-31 20:04] AlmasB commented on #963
The architecture has been extended as appropriate to include the ability to render FXGL into a Node -- `FXGLPane`.

[2021-03-31 20:04] #963 closed, assigned to AlmasB

[2021-04-01 08:21] #989 closed, assigned to nobody

[2021-04-01 09:20] AlmasB commented on #956
Update: 1-pass refactor complete, need to account for notes above

[2021-04-04 08:06] AlmasB opened #998 "Upgrade CI to Java 16 and 17-ea respectively"

[2021-04-04 08:14] AlmasB commented on #900
@adambocco apart from above (parallelizing tile generation -- I still need to investigate this), any thoughts on how we can improve loading performance of .tmx?

[2021-04-04 11:44] AlmasB opened #999 "Editor: add ability to attach built-in components to entities"

[2021-04-04 11:45] AlmasB opened #1000 "Editor: add hit box editing capabilities"

[2021-04-04 11:46] AlmasB opened #1001 "Editor: allow adding custom components compiled externally"
This should also consider hot reloading of components

[2021-04-04 11:48] AlmasB commented on #362
Initial functionality has been designed and described as #999 #1000 #1001 This issue is merged into them

[2021-04-04 11:48] #362 closed

[2021-04-04 11:48] AlmasB commented on #962
Initial functionality has been designed and described as #999 #1000 #1001 This issue is merged into them

[2021-04-04 11:48] #962 closed, assigned to nobody

[2021-04-04 22:45] adambocco commented on #900
@AlmasB
I spent some time looking at this. It seems like when a call is made to `setLevelFromMap('mapName.tmx')` there can be a couple seconds of load time on larger maps. I did some tests with a 500x500 tiled map of 16x16 tile sizes (tile layer entities) and I found that there is quite a slowdown in `TilesetLoader.kt::loadView(layerName: String)` here:
https://github.com/AlmasB/FXGL/blob/74c9c8cf

[2021-04-05 08:08] AlmasB commented on #900
This investigation is very helpful, thanks. Can you provide your "test" maps please -- you can add them under `sandbox/` in fxgl-samples alongside the `Sample` application to run. We should probably add a `tiled` package to `sandbox`.

Once you have PR'ed your benchmark maps, I'll add a few large maps too and we can go from there.

[2021-04-05 08:23] AlmasB commented on #901
Update:

Phase 2 complete. [Video demo with results](https://twitter.com/AlmasBaim/status/1378055348116979712).

[2021-04-06 15:10] chengenzhao opened #1002 "Steam sdk support? e.g. fxgl-steam module"
**A clear and concise description of what the feature is.**
To provide Java module version(should be better in jmod format) of Steamworks SDK
https://partner.steamgames.com/doc/sdk

**Describe alternatives you've considered (optional)**
Steamworks4j
https://github.com/code-disaster/steamworks4j
but it is not modularized thus we couldn't use javafx:jlink to build the custom runtime

**Additional co

[2021-04-06 15:53] AlmasB commented on #1002
This could be an interesting area to explore, however making the lib above (https://github.com/code-disaster/steamworks4j) modular is probably significantly easier rather than writing a new one.

[2021-04-06 22:24] chengenzhao commented on #1002
indeed, but that project seems like deprecated already and the last commit is stay in about 2 years ago...

[2021-04-11 17:42] OLedelay opened #1003 "smoothed AutoRotationComponent rotates backwards if you keep turning"
**Describe the bug**
AutoRotationComponent with smoothing rotates the wrong way around when the entity keeps turning clockwise or counterclockwise.

**To Reproduce**
Implement a player entity with WASD controls and an AutoRotationComponent withSmoothing (preferably also a sprite that allows you to see your orientation)
Run in small circles with WASD
Watch as the player rotates the wrong way around

[2021-04-11 19:39] OLedelay commented on #1003
Optionally, it's also possible to incorporate the `double tpf` from `onUpdate(double tpf)` in the calculation for how much to rotate, to make behaviour more consistent across different framerates.
Then instead of `0.9*oldAngle + 0.1*newAngle` it could be `oldAngle * Math.max(0, 1 - rotationalSpeed * tpf) + newAngle * Math.min(1, rotationalSpeed * tpf)` with a parameterized rotationalSpeed. (It cou

[2021-04-12 11:42] dltt83 commented on #984
Had a look and would be happy to contribute and go through these math functions and edit the wiki for them.
Slightly new to github though and not entirely sure how to edit wiki pages?

[2021-04-12 11:57] AlmasB commented on #984
Hi, see if there's an edit button on that page. If not, the easiest workflow for wiki entries is to add the text including full author name (or username if you prefer) here and I'll update the wiki.

[2021-04-12 12:17] dltt83 commented on #984
No edit button, but got the files for the wiki and will upload the page here when done.

[2021-04-12 16:22] dtmm122 opened #1004 "Can not open"
i can not open the jar file

[2021-04-14 13:46] dltt83 commented on #984
Done an entry for all the funcitons in the FXGlMath.java file
[Math-Functions-(FXGL-11).md](https://github.com/AlmasB/FXGL/files/6311203/Math-Functions-.FXGL-11.md)

[2021-04-14 14:09] chengenzhao commented on #1002
I made it
here is modularized jars that could be used as jlink resources
the module name is steam.sdk
should used as

`jlink --module-path ../jmods --add-modules steam.sdk,and other modules --output runtime`

[steam-sdk-linux-x64.zip](https://github.com/AlmasB/FXGL/files/6311332/steam-sdk-linux-x64.zip)
[steam-sdk-mac-x64.zip](https://github.com/AlmasB/FXGL/files/6311334/steam-sdk-mac-x64.zip)
[st

[2021-04-14 14:13] chengenzhao commented on #1002
source code
in maven format
[steam-sdk.zip](https://github.com/AlmasB/FXGL/files/6311405/steam-sdk.zip)

[2021-04-14 14:17] chengenzhao commented on #1002
current my game module-info
too sad netty and vert.x is not manually modularized
so I have to remove dependencies of vert.x
<img width="387" alt="Screen Shot 2021-04-14 at 10 16 15 PM" src="https://user-images.githubusercontent.com/5525436/114725422-0f62dc80-9d6f-11eb-9113-8985ba883aa3.png">

[2021-04-15 17:17] AlmasB commented on #1004
Hi, what jar file are you referring to? The only jar file provided as part of this project is the uber-jar from Releases, which is a library to be used in an IDE and cannot be opened as a runnable application.

[2021-04-15 17:18] AlmasB opened #1006 "Integrate relevant Gluon Attach services into FXGL API"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
Accelerometer and possibly other services that can be useful for app and game development with FXGL

[2021-04-16 09:43] AlmasB commented on #900
I've run own benchmarks and confirmed the `log.debug` being an issue -- now removed.

![Screenshot 2021-04-16 10 40 27](https://user-images.githubusercontent.com/3594742/115006043-52709d00-9ea0-11eb-8f53-e85c4dacaef7.png)

Further checks seem to reveal these two methods above ( `loadImage()` and `WritableImage()` ) being the main bottlenecks. I'll see what we can do about these

[2021-04-16 10:37] AlmasB commented on #900
I've tried generating the buffer (WritableImage) in a background thread, while loading the tileset image on the thread that called loadView. There's some speed gain but not much, at least doesn't justify the complexity of the asynchronous code.

`WritableImage.<init>` implementation is essentially:

[code]

The second line is just a constructor call, so the issue seems to be with `ByteBuffer.alloc

[2021-04-16 10:55] smabitsela opened #1007 "Remote Server Multi-player / Multi-team feature request."
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
To be able to implement Input & Entity Replication on a setup consisting of a remote server hosting multiple FXGL clients in teams.

**Describe alternatives you've considered (optional)**
A clear and concise description of any alternative solutions or features you've considered.

[2021-04-16 10:59] smabitsela commented on #883
Please discuss the feature ideas on Gitter first. Then please describe the feature
To be able to implement Input & Entity Replication on a setup consisting of a remote server hosting multiple FXGL clients in teams.

Describe alternatives you've considered (optional)
A clear and concise description of any alternative solutions or features you've considered.

Additional context (optional)
At our tra

[2021-04-16 15:53] AlmasB opened #1008 "Implement 3D skybox"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
A skybox that can be set around the level using images provided by developers.

**Additional context (optional)**
FXyz has an implementation. Check if can be adapted. If not, reimplement in FXGL context.

[2021-04-16 16:01] AlmasB opened #1009 "Allow developers to set own license keys to their apps and games"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
Developers may wish to sell their apps and games which can only be played if the end-user purchased the license key from the developers.

At the moment, it's unclear how this feature is going to work. Developers will need to have the ability to manage their own license keys, so i

[2021-04-16 16:40] AlmasB commented on #901
Update:

[First 3D game demo tutorial](https://youtu.be/qGgLHvsIRds)

[2021-04-16 18:06] AlmasB commented on #984
Many thanks, I've removed `private static` constants since they cannot be accessed and they are for internal purposes only. I've fixed typos in `float` returning functions as they were missing `F` in method names.

Please check the updated page and let me know if you are happy with it. If so, I will close this issue.

[2021-04-16 18:13] AlmasB opened #1010 "Complete SenseAI: Line of Sight"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
In addition to HearingSenseComponent, implement LoS

[2021-04-17 09:30] dltt83 commented on #984
Everything looks good to me.
Happy to help

[2021-04-17 10:34] sproket commented on #901
Very nice! Looking forward to a FPS! ;)

[2021-04-17 12:38] AlmasB commented on #984
Awesome, thanks

[2021-04-17 12:38] #984 closed, assigned to nobody

[2021-04-17 12:40] AlmasB commented on #1003
Thanks for raising this and the proposed fixes, I'll take a look

[2021-04-17 14:30] OLedelay commented on #1003
I've just been trying to implement something of this sort but using a PhysicsComponent instead of a TransformComponent, and stumbled upon a different solution (still a WIP) which is to allow the drifting to happen and give newAngle the same offset in rotations as oldAngle, and choose newAngle from the 3 angles surrounding that offset newAngle
Example:
oldAngle is 750 degrees, targetAngle is -170 d

[2021-04-18 01:00] OLedelay commented on #1003
I've finished the PhysicsComponent-based version, here it is: [PhysicsAutoRotationComponent](https://github.com/AlmasB/FXGL/files/6336656/PhysicsAutoRotationComponent.txt)

The different solution is implemented now.
There's still a little bit of wobble at low velocities, but that's an unavoidable consequence of the snap grid PhysicsComponent uses.
My workaround is that half the coordinates used to

[2021-04-18 09:05] AlmasB opened #1012 "Add EntityGroup::size()"
File: https://github.com/AlmasB/FXGL/blob/dev/fxgl-entity/src/main/kotlin/com/almasb/fxgl/entity/EntityGroup.kt

`size()` should return the number of elements currently in the group.

[2021-04-18 23:10] OLedelay commented on #1003
PhysicsAutoRotationComponent works best with a circular hitbox, otherwise the edges of your hitbox can snag on other things and launch you off them due to your rotational inertia and slow-to-change target angle.

[2021-04-19 17:30] AlmasB opened #1014 "Update Perlin Interpolator to be a connected path from 0.0 to 1.0"
Currently, the perlin interpolator (like random) will produce some values between 0 and 1 and then reach 1 in an instant. We want a **connected path** starting from 0 going through some random values in range `[0..1]` then reaching 1.

https://github.com/AlmasB/FXGL/blob/43a1a24ac82b03ed733734c2c35ececb0bf5c4e2/fxgl-core/src/main/kotlin/com/almasb/fxgl/animation/Interpolators.kt#L300-L313

[2021-04-19 18:33] AlmasB opened #1015 "Add a setting to 3D camera that stops it from looking backwards (>90deg pitch)"
In most cases this is not desirable, so once implemented, the default setting should be set to off (i.e. do not allow > 90 deg pitch).

[2021-04-19 20:08] AlmasB commented on #900
I am not sure we can easily improve single-layer loading speed. However, it should be possible to load layers in parallel. Do you want to explore that path?

The main thing to consider here is parallel access to any resource (class) by `forEach(layer -> load layer)`.

[2021-04-20 19:49] AlmasB commented on #901
Update:

Initial tests with the FPS camera API: [WolFX](https://github.com/AlmasB/WolFX) demo

[2021-04-20 20:28] sproket commented on #901
That's awesome how little code is required! I'm trying to figure out how to adjust mouse sensitivity.

[2021-04-20 21:07] AlmasB commented on #901
settings.setMouseSensitivity

On Tue, 20 Apr 2021, 9:28 pm Dan Howard, ***@***.***> wrote:

[2021-04-21 16:29] AlmasB opened #1017 "GameScene::setCursorInvisible should only apply to the GameScene and not other scenes"
See [this issue](https://github.com/AlmasB/WolFX/issues/2)

[2021-04-21 17:26] AlmasB opened #1018 "SenseAI: Add fluent API for params to HearingComponent"
File: https://github.com/AlmasB/FXGL/blob/dev/fxgl-entity/src/main/kotlin/com/almasb/fxgl/ai/senseai/HearingSenseComponent.kt

Example:

[code]

[2021-04-21 17:36] AlmasB opened #1019 "Re-implement Tooltips in FXGLDefaultMenu using same window for better cross-platform support"
`protected fun createContentAchievements(): MenuContent` function of interest.

https://github.com/AlmasB/FXGL/blob/43a1a24ac82b03ed733734c2c35ececb0bf5c4e2/fxgl/src/main/kotlin/com/almasb/fxgl/app/scene/FXGLDefaultMenu.kt#L760-L764

In short, we can't use `Tooltip` because its implementation uses an external Stage.

First, a potential implementation of a tooltip UI object (that is drawn in the sa

[2021-04-21 17:38] AlmasB opened #1020 "FXGLDefaultMenu::createTitleView - incorrect layout width calculation"
[code]

https://github.com/AlmasB/FXGL/blob/43a1a24ac82b03ed733734c2c35ececb0bf5c4e2/fxgl/src/main/kotlin/com/almasb/fxgl/app/scene/FXGLDefaultMenu.kt#L199

[2021-04-21 17:41] AlmasB opened #1021 "FXGLDefaultMenu layout is not responsive"
module: `fxgl`
package: `com.almasb.fxgl.app.scene`
file: `FXGLDefaultMenu.kt`

https://github.com/AlmasB/FXGL/blob/43a1a24ac82b03ed733734c2c35ececb0bf5c4e2/fxgl/src/main/kotlin/com/almasb/fxgl/app/scene/FXGLDefaultMenu.kt#L90-L92

These are hardcoded, instead we should listen for (bind to) settings.prefWidth/Height properties.

You can check the result of this working (or not working) in `fxgl-sa

[2021-04-22 13:11] AlmasB opened #1022 "Deprecate and upgrade experimentalNative"

[2021-04-22 14:36] chengenzhao opened #1023 "Allow user to set global cursor / default cursor"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
Allow users to set global cursor e.g. in initSettings method of GameApplication
users may use settings.setCursor(Cursor cursor) to set the global cursor

**Describe alternatives you've considered (optional)**
set cursor in all scenes
StartupScene, IntroScene, LoadingScene, GameSc

[2021-04-22 20:05] AlmasB opened #1024 "Check the need for active.set(false); in Entity::clean"
It appears `active` is always false at that point, in which case the call is redundant and can be removed:
https://github.com/AlmasB/FXGL/blob/bbf2bb93bfdcb76743d5c446ca15d6bfd977c6d9/fxgl-entity/src/main/java/com/almasb/fxgl/entity/Entity.java#L188-L191

I have looked at call sites for `clean()` in GameWorld and they are always preceded by `marForRemoval()`

https://github.com/AlmasB/FXGL/blob/bb

[2021-04-25 17:19] AlmasB commented on #1023
Thanks, `initSettings()` is called before JavaFX is initialized, so it will probably be something along these lines:

[code]

The default cursors may not need this, but in general users may want to use something like this:

[code]

which will need both FXGL and JavaFX to be initialized

[2021-04-26 17:47] #1004 closed, assigned to nobody

[2021-04-27 21:38] adambocco commented on #900
@AlmasB
I got a chance to look into this today and had good results using `Async.startAsyncFX` where we loop through the map layers in `createTileLayerEntities` here:

https://github.com/AlmasB/FXGL/blob/ae7889d717f8a94f5d3fcb037618fc1f5c93e171/fxgl-entity/src/main/kotlin/com/almasb/fxgl/entity/level/tiled/TMXLevelLoader.kt#L80-L85

Here are some of my averages on loading some maps:

*Parallelized

[2021-04-30 15:23] phi-whiterabbit opened #1036 "Reintroduce com.almasb.fxgl.app.scene.ViewPort#bindToFit"
In FXGL 0.5.4 the class com.almasb.fxgl.app.scene.ViewPort had a method bindToFit. This method is commented out in the current version of FXGL.
This feature request is about to introduce that method again in the more recent versions of FXGL.

[2021-04-30 15:25] phi-whiterabbit commented on #1036
I would submit a pull request, but i am completely unfamiliar with kotlin, so i am afraid i cannot do that.

[2021-04-30 16:48] AlmasB commented on #901
Update:

Phase 3 is almost complete with the implementation of the .obj loader, [video demo](https://twitter.com/AlmasBaim/status/1388172445891313667)

[2021-05-02 08:12] AlmasB opened #1039 "Deprecate isExperimental3D and upgrade to is3D as the support moves from experimental to stable"

[2021-05-02 08:41] AlmasB commented on #901
The phases of the roadmap for basic 3D support have now been completed. There are various examples under `fxgl-samples`, including the demos above that provide information on how to use 3D in FXGL.

There are still outstanding issues related to 3D collision detection and transformations. Furthermore, we lack some of the functionality that FXyz supports, such as 3D text and texture manipulations. H

[2021-05-02 08:41] #901 closed

[2021-05-02 16:19] AlmasB opened #1040 "Add origin 3D for animations"

[2021-05-02 16:36] AlmasB commented on #983
Page updated to include some new features: https://github.com/AlmasB/FXGL/wiki/Core-Features-(FXGL-11)

 Now need to group by module name, e.g. `fxgl-entity`

[2021-05-07 18:00] AlmasB opened #1041 "Add missing copy() to built-in components"

[2021-05-08 17:36] AlmasB commented on #1010
To complete this issue, a tentative API design and implementation ideas should be proposed first.

[2021-05-19 09:40] AlmasB opened #1046 "Add new setting: setDefaultCursor"
[code]

More details can be found here: https://github.com/AlmasB/FXGL/discussions/1045

[2021-05-20 08:25] #1046 closed, assigned to nobody

[2021-05-21 07:46] AlmasB commented on #983
Completed.

[2021-05-21 07:46] #983 closed, assigned to nobody

[2021-05-21 20:38] AlmasB commented on #1012
Closed by #1047

[2021-05-21 20:38] #1012 closed, assigned to nobody

[2021-05-22 11:20] AlmasB opened #1048 "Add Experimental annotation to settings and do not prefix var names"

[2021-05-22 11:32] #1022 closed, assigned to AlmasB

[2021-05-22 11:43] #1039 closed, assigned to AlmasB

[2021-05-23 18:00] AlmasB commented on #1007
Closed as duplicate of #883
All updates to multiplayer service development will be tracked in #883

[2021-05-23 18:00] #1007 closed, assigned to nobody

[2021-05-25 17:40] AlmasB commented on #1003
I've reproduced the issue and working to write a test for it.

[2021-05-25 19:39] AlmasB commented on #1003
I've added a test to cover this edge case and fixed the behaviour based on your proposed approach (keep the angle within a specified range). Please can you check this works correctly for your use case. Many thanks for identifying and proposing a fix for this.

To get the latest build, you can use this:
[code]

[2021-05-29 09:48] AlmasB commented on #1023
Closed by [commit](https://github.com/AlmasB/FXGL/commit/d126759275e39b984314673c89a5f6636d03384d)

[2021-05-29 09:48] #1023 closed, assigned to nobody

[2021-05-29 10:03] #965 closed, assigned to nobody

[2021-05-29 10:19] AlmasB commented on #883
Fundamental features implemented in 11.17, see linked Sample for how to use replication features.

[2021-05-29 10:19] #883 closed

[2021-05-29 10:33] AlmasB commented on #993
Closed in 11.17

[2021-05-29 10:33] #993 closed, assigned to nobody

[2021-05-29 10:33] #1018 closed, assigned to nobody

[2021-05-29 11:59] #996 closed, assigned to AlmasB

[2021-05-29 12:26] jo372 commented on #896
**FXGLAssetLoaderService**
Handles all resource (asset) loading operations.
- The "assets" directory must be located in "src/main/resources/" (using the Maven directory structure).
Alternatively, (not recommended) source folder ("src" by default).
- Resources (assets) will be searched for in these specified directories:

Texture / images - /assets/textures/
Sound - /assets/sounds/
Music - /assets/

[2021-05-29 12:47] jo372 commented on #896
**LocalizationService**
___

Services that provides functions to localize Strings to the given Language using String or StringBinding.
Also supports lazy loading of language data.

**SystemBundleService**
___
It saves FXGL system data into a file.

**SaveLoadService**
___
Responsible for save/load operations to/from data files.
Also responsible for write/read IO operations of save files.

**FXGLUI

[2021-05-29 12:49] AlmasB commented on #896
Pushed to https://github.com/AlmasB/FXGL/wiki/Engine-Services-(FXGL-11)

[2021-05-29 12:49] #896 closed

[2021-06-06 12:00] AlmasB opened #1065 "Add a Model3D sample using .obj"
_Originally posted by @ImperaEtConquer in https://github.com/AlmasB/FXGL/discussions/1064_

[2021-06-06 12:09] #1065 closed, assigned to nobody

[2021-06-07 15:44] AlmasB opened #1066 "AnimatedColor can go beyond valid values (i.e. [0..1] range)"

[2021-06-07 15:44] AlmasB opened #1067 "Make AnimatedTexture use FXGL animation system"
More discussion [here](https://github.com/AlmasB/FXGL/discussions/1032)

[2021-06-07 17:39] #1040 closed, assigned to AlmasB

[2021-06-15 07:54] AlmasB opened #1070 "Add onKey and onBtn to TriggerListener"
Implementation in Input should extract

[code]

into a separate function that would check if trigger is key, then call onKey, check if btn and call onBtn. Same for begin / end action events.

[2021-06-15 08:07] AlmasB opened #1071 "Add configurable PlatformerPlayerComponent"

[2021-06-15 08:45] AlmasB opened #1072 "Convenience Grid::getCell"
// TODO: grid.getCell(Entity,cellWidth,cellHeight);
    private AStarCell getCell(Entity entity) {

        int x = (int) ((entity.getX() + 30 / 2) / 30);
        int y = (int) ((entity.getY() + 30 / 2) / 30);

        return astar.get().getGrid().get(x, y);
    }

[2021-06-17 07:28] #998 closed, assigned to AlmasB

[2021-06-19 17:17] #912 closed

[2021-06-21 09:25] #1066 closed, assigned to AlmasB

[2021-06-28 08:10] #1015 closed, assigned to AlmasB

[2021-06-30 03:05] chengenzhao opened #1074 "[embedded mod]Add a callback function to embeddedLaunch?"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
Add a callback function to embeddedLaunch method
thus when fxgl game is fully launched, the callback function will be called
Because currently the fxgl game launching is async
so if we embed the fxgl pane into javafx pane, then this async process may cause concurrent conflicts
If

[2021-07-04 20:40] AlmasB opened #1075 "Add embeddedShutdown to decouple fxgl instance from javafx instance"

[2021-07-05 08:37] kulame opened #1076 "does fxgl suppport java16 or java17?"
then we can use zgc to implement the realtime game

[2021-07-05 08:39] AlmasB commented on #1076
Yes, you can use either of those for building your application

On Mon, 5 Jul 2021, 9:38 am kulame, ***@***.***> wrote:

[2021-07-05 15:42] AlmasB opened #1079 "Detect Platform on embedded devices"
Embedded apps typically run with:

[code]

- glass.platform will be Monocle
- monocle.plaform will be EGL

[2021-07-13 06:23] milimetron opened #1080 "getAppWidth/getAppHieght have margins in ui"
When spawning objects in the either the right or bottom edges of the ui (meaning using either getAppWidth or getAppHieght)  the objects are placed either slightly away from the edge in case of the right or be slightly below the window in case of the bottom.
This was tested with the official pong tutorial app( see included images), as well as personal apps ( see included code).

To Reproduce you ca

[2021-07-14 12:45] AlmasB commented on #1080
Thanks for this. I suspect this is an issue related to window handling on Linux as I recall similar problems in the past. I will see if I can reproduce this in a pure JavaFX app, in which case that will suggest the issue comes from JavaFX, rather than FXGL.

[2021-07-16 16:13] AlmasB commented on #1074
There are a few key moments when the callback can occur.

The code that needs to be repeatedly called after each game start should go into an EngineService::onGameReady. I believe this is not your use case since you are using isFirstInit. The code that needs to be called **once per application** after the main loop started should go into an EngineService::onMainLoopStarting.

This leaves us with o

[2021-07-16 23:47] chengenzhao commented on #1074
Good Morning @AlmasB
We use this feature simply because the FXGL application has to start with JavaFX program
We have to start and cache it.
It is async start so we have to disable JavaFX components and wait it fully started then enable those components.
And when we enter the battle scene we will put FXGL pane into JavaFX container to display the game and remove it when the battle is over
so if [A

[2021-07-17 03:19] chengenzhao opened #1084 "--illegal-access=permit is removed from JDK 17 and kotlinc should not need this walkaround for compilation"
**Describe the bug**
In the file .github/workflows/maven.yml, there is a walkaround for kotlinc: --illegal-access=permit
Kotlin 1.5 should not need --illegal-access=permit,
kotlinc should fix this in 1.5-m1
https://youtrack.jetbrains.com/issue/KT-43704
and --illegal-access=permit is removed from JDK 17
https://openjdk.java.net/jeps/403
so this environment variable in .github/workflows/maven.yml
 c

[2021-07-17 08:39] AlmasB commented on #1075
@chengenzhao please check this works as intended, there is a sample attached to the commit to help with the API.

To get the latest build, you can use this:
[code]

[2021-07-17 11:07] chengenzhao commented on #1075
@AlmasB Cool
It works, thanks a lot

[2021-07-17 14:02] chengenzhao commented on #1075
Hmm...
Interesting thing is it takes some time to start the game
so if we use embeded start every time, there is a black scene during the start
I tried to set intro scene,  startup scene, loading scene and set background color to fxgl pane but still get the black scene
seems like we need to find a way to custom the scene during the start

[2021-07-17 14:10] chengenzhao commented on #1075
It would be nice to have a transparent background color by default for embeded mode

[2021-07-17 14:57] AlmasB commented on #1075
The black comes from the FXGLPane rendering color. There is no public API
to change it at the moment.

Please open a separate issue and it will be fixed.

On Sat, 17 Jul 2021, 3:11 pm Chengen Zhao, ***@***.***> wrote:

[2021-07-17 23:55] chengenzhao opened #1085 "Allow developers to customize FXGL pane rendering color"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
Allow developers to customize FXGL pane rendering color
Currently the default rendering color is black and no public api to change it
so hope we could have a public api allow developers to change it

More discuss:
https://github.com/AlmasB/FXGL/issues/1075

[2021-07-17 23:57] chengenzhao commented on #1075
Cool thx
Submitted here
https://github.com/AlmasB/FXGL/issues/1085

[2021-07-18 07:27] AlmasB commented on #1085
`pane.setRenderFill( ... )` should do the trick. Let me know if this works, so we can close this.

[2021-07-18 07:34] chengenzhao commented on #1085
Good Afternoon @AlmasB
It works
I tried use
[code]
then the black scene doesn't appear

[2021-07-19 13:05] #1085 closed, assigned to nobody

[2021-07-20 19:16] #1076 closed, assigned to nobody

[2021-07-20 19:19] AlmasB commented on #1084
Thanks. Kotlin's incremental compilation appears to be problematic still. Since illegal access workaround is no longer honored, it was removed from 17-ea build and incremental compilation disabled.

Closed by [commit](https://github.com/AlmasB/FXGL/commit/f37eaf40c632e5447094a4975234891e153a24fb)

[2021-07-20 19:19] #1084 closed, assigned to nobody

[2021-07-22 13:19] chengenzhao commented on #1067
Will this feature be available in 11.18 ?

[2021-07-22 15:44] AlmasB commented on #1067
I've added this to the milestone for now, but I haven't had a chance to properly look at this yet. Will check over the weekend.

[2021-07-26 17:42] DieterHolz opened #1088 "getInput().mockKeyPress(KeyCode.ESCAPE)) doesn't display Game Menu"
**Describe the bug**
Pressing the ESCAPE-Key will display the Game-Menu by default.

When sending a mockKeyPress this doesn't happen. The mockKeyPress is silently ignored.

**To Reproduce**
For example in DropApp (from Template Project) change

`    @Override
    protected void initPhysics() {
        onCollisionBegin(Type.BUCKET, Type.DROPLET, (bucket, droplet) -> {

            // code in this b

[2021-07-27 07:08] AlmasB commented on #1088
I've skimmed through the implementation and the menu key (in this case ESC) is an edge case to avoid transition issues. Hence, it is not routed through the same input handling.

To open the game menu (from the game scene), you can call this instead:

[code]

[2021-07-28 17:07] AlmasB commented on #1079
`FXGL.getSettings().getPlatform()` will now return `EMBEDDED` when running on Raspberry Pi in DRM mode.

[2021-07-28 17:07] #1079 closed, assigned to AlmasB

[2021-07-28 19:26] AlmasB opened #1090 "Software cursor"
Embedded devices may not have access to a mouse (or if using controllers only), hence a software cursor, with API that allows users to control it is beneficial. Leveraging the input mocking API already present (particularly related to mouse events), this feature could be a useful substitute when running without a mouse.

@DieterHolz, thanks for the idea. I think this could very well be a student p

[2021-07-29 05:44] sormuras opened #1091 "FXGL modules to include version information"
Listing external modules of project https://github.com/sormuras/bach-fxgl reads like:
[code]
Only Jackson and Attach modules provide compiled version information. Let's compile the FXGL version into their module as well. Here's a similar feature request for JavaFX: https://bugs.openjdk.java.net/browse/JDK-8267472 (Perhaps, I'll raise such a feature request for Kotlin as well...)

[2021-07-29 06:11] sormuras commented on #1091
Adding the following lines to the root POM file:

[code]

here:

https://github.com/AlmasB/FXGL/blob/842b079b2850b6b5444db8d983b88d9f32e263a6/pom.xml#L138-L145

...works as expected, for example:

[code]
...but only if the version (here hard-coded to the value `123`) is a valid Java module version string. `dev-SNAPSHOT` is not valid, as it doesn't start with digit/number: https://docs.oracle.com/e

[2021-07-29 10:14] sormuras commented on #1091
Using `11+dev-SNAPSHOT` as the default version should do the trick.

[2021-07-29 10:26] sormuras commented on #1091
Would result in `com.almasb.fxgl.scene@11+dev-SNAPSHOT` and similar for the default case.

And `com.almasb.fxgl.scene@11.18` for the next "dot release".

Also, the next "major release" version string would read for example: `17+dev-SNAPSHOT` / `17` / `17.1` / ...

[2021-07-29 16:35] #1091 closed, assigned to sormuras

[2021-07-29 16:43] AlmasB commented on #1091
`11+dev-SNAPSHOT` should be available. Please can you check all is fine from your side.

[2021-07-29 17:22] sormuras commented on #1091
Manually downloaded `fxgl-11+dev-20210729.163945-1.jar` from https://oss.sonatype.org/content/repositories/snapshots/com/github/almasb/fxgl/11+dev-SNAPSHOT/ and ran `jar --describe-module --file fxgl-11+dev-20210729.163945-1.jar` produced:

[code]

✔

Next ... use `11+dev-SNAPSHOT` in project `bach-fxgl`... _in progress_

[2021-07-29 17:25] AlmasB commented on #1091
this should do it:
[code]

[2021-07-29 17:27] AlmasB commented on #1091
Or how do you normally get deps into bach?

[2021-07-29 17:28] sormuras commented on #1091
...it depends. 😉

[2021-07-29 17:44] sormuras commented on #1091
Running (in project `bach-fxgl`)

`java --module-path .bach\external-modules --list-modules`

now yields

[code]

✔

Now, enhance JavaFX's and Kotlin's builds to include Java module version information.

[2021-07-29 17:48] sormuras commented on #1091
There used to be support for Maven SNAPSHOT version in Bach 1.x ... or was it 2.x?! Today, I (re)solved it via

[code]

Which is **not** the final syntax, yet.

[2021-07-29 17:48] AlmasB commented on #1091
Ok, I think we can call this a success for module version info, thanks again.

[2021-07-29 17:51] sormuras commented on #1091
Once you released FXGL `11.8` to Maven Central, I'll be able to use `FXGL.of("11.8")` again.

[2021-07-31 19:23] milimetron opened #1094 "Choice Dialog Button Text"
Make it possible to select the text for choice dialog buttons instead of having to create a custom dialog to replace yes or no

The only other solution i fought of is creating a custom dialog other wise it's stuck with yes or no

[2021-08-02 17:54] #1017 closed, assigned to AlmasB

[2021-08-10 07:47] AlmasB opened #1095 "Log FXML loading errors"
Currently, errors that occur during FXML file loading are ignored. Plus check other asset errors are not ignored and log them if they are.

[2021-08-21 19:08] #1088 closed, assigned to nobody

[2021-08-21 19:09] #1075 closed, assigned to AlmasB

[2021-08-22 00:59] chengenzhao commented on #1067
Is it possible to have a partially animation method, like playTo(int endFrame) method?
and playReverseTo(int endFrame) ?

[2021-08-25 18:19] jfelrod1960 opened #1096 "Can FXGL be used in conjunction with another game library?"
I would like to use FXGL for the UIs in my game.

Thanks
Jeff

[2021-08-25 19:06] AlmasB commented on #1096
Hi, if the library is based on JavaFX, then yes. Otherwise, no, since FXGL uses the JavaFX rendering pipeline.

[2021-08-26 00:05] jfelrod1960 commented on #1096
Thanks for replying.  The other library uses OpenGL.

[2021-08-26 00:05] #1096 closed, assigned to nobody

[2021-08-28 19:23] #995 closed, assigned to AlmasB

[2021-09-01 15:33] mortensen commented on #222
How is this done in a current version?

[2021-09-01 16:08] AlmasB commented on #222
Here's an example for StartupScene, but can reuse for a menu:

https://github.com/AlmasB/FXGL/blob/38aa7c087b13982c6948457cd292507c0d4e52fc/fxgl-samples/src/main/java/intermediate/CustomStartupSample.java

Here's a more complex example for main menu:

https://github.com/AlmasB/FXGLGames/blob/master/GeometryWars/src/main/java/com/almasb/fxglgames/geowars/menu/GeoWarsMainMenu.java

Essentially, you

[2021-09-01 16:18] mortensen commented on #222
Thank you very much! I thought I had to play around with Background and BackgroundImage. But adding simply an ImageView to the content Root children before adding the buttons works fine. Thanks for your patience and help!

[2021-09-05 19:34] #1072 closed, assigned to AlmasB

[2021-09-08 15:32] mortensen opened #1100 "EntityDrawingOrderSample is wrong - doesnt use zindex"
The current example EntityDrawingOrderSample doesnt use the setZIndex() methods.

**To Reproduce**
Run the code, press F. Wont switch the z index of the squares.

**Expected behavior**
The red and black squares should switch places.

I will send a pull request to fix the example.

[2021-09-08 17:45] #1100 closed, assigned to nobody

[2021-09-11 19:30] #755 closed

[2021-09-27 14:55] xcocean opened #1106 "java.lang.NoSuchFieldError: BACK"
Basic presentation
When I click the screen with the mouse, the following exception appears
jdk11 and javafx 11 and fxgl 11.17
![image](https://user-images.githubusercontent.com/45192548/134933099-e126c9cf-b56d-4ac4-b87d-87aded533866.png)

[code]

[2021-09-27 15:02] xcocean commented on #1106
Start have a warning

[code]

[2021-09-27 15:29] xcocean commented on #1106
sorry ，I found the reason。
because I added javafx dependency
[code]

![image](https://user-images.githubusercontent.com/45192548/134938702-ac52179c-3fb2-433f-ac7c-0d0a85345722.png)

[2021-09-27 17:13] mokun opened #1107 "Roll in JavaFX 17 with current version of FXGL that relies on Java 11"
Currently v11.17 pulls JavaFX 16 from maven repo.

![image](https://user-images.githubusercontent.com/1168584/134953742-925911d7-df30-4c52-960c-d8f6550a9462.png)

Now that JavaFX 17 (OpenJFX 17) is out, it has quite a bit of fixes and has a newer webkit version. See [1](https://gluonhq.com/products/javafx/openjfx-17-release-notes/) and [2](https://openjfx.io/highlights/17/).

Are there any roadblo

[2021-09-27 17:16] AlmasB commented on #1107
Thanks, happy to upgrade to fx 17, which will be usable with the dev
snapshot version 11+dev-SNAPSHOT

On Mon, 27 Sep 2021, 6:13 pm manny kung, ***@***.***> wrote:

[2021-09-27 18:00] #1106 closed, assigned to nobody

[2021-10-03 11:34] AlmasB opened #1108 "Replace Gitter link with GitHub discussions in the log"

[2021-10-07 19:20] #1107 closed, assigned to nobody

[2021-10-07 19:21] AlmasB commented on #1107
Once the CI build successfully completes, should be usable via:

[code]

[2021-10-09 11:48] #1108 closed, assigned to AlmasB

[2021-10-09 11:49] AlmasB commented on #1108
The Gitter link is kept alive for now...

[2021-11-05 20:12] AlmasB opened #1113 "Add support for Cuboid texturing"
- [ ] Design API to add textures for [Cuboid](https://github.com/AlmasB/FXGL/blob/72ba8b78127614af7a551e465243876a1ae1a06d/fxgl/src/main/kotlin/com/almasb/fxgl/scene3d/Cuboid.kt)
- [ ] Implement support (example implementation for [tex coords](https://github.com/maehem/fxgl-textured-cube/blob/4742f88870096e6b255e3082861888c4892cf1e3/src/main/java/com/maehem/texturedmeshcube/App.java#L112)
- [ ] Ad

[2021-11-09 20:18] AlmasB opened #1116 "Add DialogueContext"
With the ability to set variable values both locally and globally.

TODO: any use for var initialisations that run only on first dialogue context run? Example: hasMetNPC...

[2021-11-13 17:38] #1024 closed, assigned to AlmasB

[2021-11-16 18:42] AlmasB commented on #1008
Done in FXGL 17

[2021-11-16 18:42] #1008 closed, assigned to AlmasB

[2021-11-17 19:56] AlmasB commented on #900
@adambocco Thanks, I've finally had a chance to have a think about implications and how to manage them. There is now a `isParallel` setting for the loader. To avoid concurrency issues, each layer gets its own TilesetLoader.

[2021-11-17 19:56] #900 closed

[2021-11-20 18:38] AlmasB commented on #759
Use case is too specific.

[2021-11-20 18:38] #759 closed

[2021-11-21 08:07] #815 closed

[2021-11-21 20:33] AlmasB commented on #1094
Instead of modifying the confirmation box, I'm thinking we could have a dedicated choice box:

[code]

The implementation would produce a box with up to 3 buttons and if `options.size > 3`, then produce a ChoiceBox.

[2021-11-25 20:16] #1094 closed, assigned to AlmasB

[2021-11-26 08:40] meronbrouwer commented on #884
@AlmasB I have this same issue in a project I'm working on (https://github.com/han-yaeger/yaeger), but I don't have the hardware to test your fix. While looking into it, I get the impression that this behaviour should already be in the JavaFX AnimationTimer, and the bug should be fixed at that level. What are your thoughts on this?

[2021-11-27 08:23] AlmasB commented on #884
[This test](https://twitter.com/Raumzeitfalle/status/1464324311687344128) confirms that the fix works as expected, at least in that one instance -- more tests from the community are appreciated. However, based on example, the issue is closed.

@meronbrouwer from the JavaFX perspective, it is not a bug. By default, AnimationTimer attempts to match the refresh rate. Any code using AnimationTimer and

[2021-11-27 08:23] #884 closed

[2021-11-27 12:37] meronbrouwer commented on #884
@AlmasB I was under the impression that the AnimationTimer interval is programmatically capped at 60fps (this stackoverflow post also points in that direction: https://stackoverflow.com/questions/45812036/javafx-60-fps-frame-rate-cap-doesnt-work/45827990#45827990), but apparently I'm mistaken.

Up until now I have been looking at JavaFX for a fix, but since your solution is also applicable to my s

[2021-11-27 18:02] AlmasB opened #1119 "Clean up errorDialog in DialogServiceProvider"

[2021-11-27 18:08] AlmasB opened #1120 "Add support for video cutscenes"
- [x] Design API (aligned with existing API) for high-level use by developers.
- [x] Possibly add support for loading .mp4 in AssetLoaderService (via JavaFX Media)

The above items should be discussed in this thread before attempting implementation.

[2021-12-06 23:04] reflqct opened #1121 "kotlin.UninitializedPropertyAccessException: lateinit property engine has not been initialized"
**Describe the bug**
When attempting to run a game made with FXGL, this error pops up. It says it is housed where I wrote `FXGL.getGameWorld().setEntityFactory(new LevelLoader())`. The code the error is reffering to is as follows, in `FXGL.kt`.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set an entity factory, use reflection in that entity factory or set a tiled map (`FXGL.setLev

[2021-12-06 23:05] reflqct commented on #1121
Oh, should've also mentioned I'm using Java, and not Kotlin.

[2021-12-07 09:45] AlmasB opened #1122 "ChoiceNode option does not disconnect connected edges"
**Describe the bug**
The edge connected to the removed option in ChoiceNode is not removed.

**To Reproduce**
Add choice node, then "+" to create 3 options, connect 3rd option, then remove 3rd option without disconnecting

[2021-12-07 09:47] AlmasB opened #1123 "ParticleComponent onRemoved() can cause concurrent modification exception"
When clearing the world and removing an entity with ParticleComponent, its onRemoved calls

parent.removeFromWorld()

which will cause the CME

[2021-12-09 09:32] chengenzhao opened #1127 "Implement spawn mechanism without reflection"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
For more dicussion:
https://github.com/AlmasB/FXGL/discussions/1126#discussioncomment-1777347

**Describe alternatives you've considered (optional)**
For aot/native image consideration we hope the source code of FXGL don't use reflection
thus developers don't need to write extra

[2021-12-14 18:44] AlmasB opened #1130 "Add dungeon generator"
Unlike, maze generation, which is very specific to maze-like layouts, a dungeon provides greater flexibility for exploration and is not meant to be convoluted (like mazes).

@Shylexx to explore this further

First, the API should be proposed from the game developer perspective, then we can discuss implementation details. I suspect it will be along the lines of extending a `Cell` in some way and ge

[2021-12-17 08:32] AlmasB opened #1131 "Add Inventory::transferAllFrom()"

[2021-12-18 13:05] AlmasB commented on #1067
@chengenzhao you can define an AnimationChannel that runs to a specific frame. You can play the channel in reverse.

[2021-12-18 13:06] #1067 closed, assigned to AlmasB

[2021-12-24 18:43] AlmasB opened #1133 "TMX level loader add polyline support"
Just extend polygon parsing to include polyline

[2021-12-29 18:16] AlmasB opened #1135 "API to save Image to file"

[2022-01-02 11:11] #1133 closed, assigned to AlmasB

[2022-01-07 09:55] #971 closed, assigned to AlmasB

[2022-01-07 10:33] #1119 closed, assigned to AlmasB

[2022-01-08 09:48] AlmasB opened #1140 "Sequential animation needs to snap to endTime"
AnimationBuilder::L232
// TODO: we need to snap to endTime
                        // else {
                        //                            if (time > range.endInclusive) {
                        //                                anim.setTimeTo(anim.endTime)
                        //                            } else if (time < range.start) {
                        //

[2022-01-17 13:58] AlmasB opened #1142 "Migrate release workflow to JReleaser"
The semi-automated process of FXGL release to GH can potentially be fully automated by [JReleaser](https://github.com/jreleaser/jreleaser). This includes CC conversion into changelog during GH release via a manual GH action.

[2022-01-20 22:04] ghost opened #1143 "NotificationService seems not to be affected by setting text and background color."
**Describe the bug**
NotificationService seems to not be affected by setting text-color and background-color properties. Despite being changed before showing up the popup, it looks the same as the default popup with default colors.

**To Reproduce**
I managed to produce this bug by running this code:
[code]

**Expected behavior**
I would like to be able to change the colors of the notification.

*

[2022-02-03 20:06] #1143 closed, assigned to nobody

[2022-02-03 20:06] AlmasB commented on #1143
Thanks for this, should be fixed now.

To get the latest build, you can use this:
[code]

[2022-02-04 11:12] AlmasB opened #1149 "Add icon/Image to notification"
### Discussed in https://github.com/AlmasB/FXGL/discussions/1148

<div type='discussions-op-text'>

<sup>Originally posted by **leewyatt** February  4, 2022</sup>
The notification style is now concise and dynamic;

**Notifications** currently only seems to support **String**,
and the component inside seems to be **Text**.

It would be better to support **Node** or **Label** components.
Because Lab

[2022-02-14 13:45] AlmasB opened #1151 "Provide basic support for "isometric" .tmx"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**
Currently isometric tmx is ignored. We should at least load it, leaving parsing to the developer in the meantime.

[2022-02-21 06:40] leewyatt opened #1152 "When the length of the Volume is not the same, the layout becomes cluttered"
**Describe the bug**
MENU->OPTIONS->AUDIO->Music Volume / Sound Volume
When the length of the Volume numbers is not the same, the layout becomes cluttered.

**To Reproduce**
e.g.
Music Volume drag to 9      //only one digit
Sound Volume drag to 66   // two digit

**Expected behavior**
Layout stays aligned

**Screenshots**
![image](https://user-images.githubusercontent.com/75261429/154900853-15588a

[2022-02-26 08:10] AlmasB opened #1156 "Add onFinished handler to cutscenes"
`startCutscene()` should accept a Runnable.

[2022-02-27 08:50] #1156 closed, assigned to AlmasB

[2022-03-07 20:10] #1122 closed, assigned to AlmasB

[2022-03-09 16:36] jvondermarck commented on #342
Hi, so how do we do have a moving background ?
Thank you.

[2022-03-09 17:09] AlmasB commented on #342
@jvondermarck Hi, I couldn't find the exact sample code for this, but here's a sandbox sample: https://github.com/AlmasB/FXGL/blob/dev/fxgl-samples/src/main/java/sandbox/ScrollingBackgroundSample.java

Just replace the scrolling view with:

`new SelfScrollingBackgroundView(image, width, height, Orientation.HORIZONTAL, moveSpeed);`

If any issues, please let me know.

[2022-03-09 18:58] jvondermarck commented on #342
Thank you so much, I hope it will help for my project.
I'll keep you in touch if I have any issues.

[2022-03-20 13:39] #1135 closed, assigned to AlmasB

[2022-03-20 13:48] #1003 closed, assigned to AlmasB

[2022-03-20 18:35] #945 closed

[2022-03-26 18:38] AlmasB opened #1160 "Misc improvements based on user feedback"
From #1150:

- [ ] FXGL.getAudioPlayer() could have removeAllMusic and/or Sound, it could also have get method returning sounds/music that "are there" or what is currently "playing"
- [x] missing method removeAllEventHandlers() on FXGL.getEventBus() for restarting games
- [ ] to get list of existing saved games, it is required to load the content of saved files. It should be possible to save metad

[2022-03-26 18:58] AlmasB commented on #1160
@jmaler removeAllEventHandlers() is now present in the latest build.

[2022-04-06 08:10] jmaler commented on #1160
Great, thanks!

[2022-04-12 08:06] AlmasB opened #1168 "Viewport improvements"
currently there are only 3 ways of viewport effect: shake, fade and flash which works perfectly nice
and is it possible for developers to create their own viewport effect?
like if the protagonist gets hit the viewport border becomes red and then fade out to warn the player
we read the source code and seems like we have to get the camera first
but camera is the internal variable so it can't be used

[2022-04-14 07:33] benjimusmaximus opened #1169 "customLaunch to load an FXGL Application into an FX scene doesn't work anymore"
I tried to solve this cunstomLaunch but the feature doesn't exists animore

[2022-04-14 07:48] AlmasB commented on #1169
@benjimusmaximus please see [the full sample](https://github.com/AlmasB/FXGL/blob/ff2586975ec51eaff8b39556883b52b92d483a21/fxgl-samples/src/main/java/advanced/EmbeddedSample.java) using the latest version

[2022-04-17 08:15] lhDream opened #1171 "When "entity" is added to "gameword", the "component" of "entity" is initialized once."
When "Entity" is added to "GameWord", the "Component" of "Entity" is initialized once.
Because some components need to add "Entity" to "GameWord" before they can be fully initialized.
For example：
[code]
This causes "NullPointException", because "colladables" requires "GameWord",but it is obvious that "Entity" has not been added to "GameWord" now.

The following code can solve the problem, but I p

[2022-04-23 07:00] AlmasB opened #1172 "Add support for languages"
**Please discuss the feature ideas on [Gitter](https://gitter.im/AlmasB/FXGL) first. Then please describe the feature**

Currently supported [languages](https://github.com/AlmasB/FXGL/tree/dev/fxgl/src/main/resources/fxglassets/languages). This is mostly going to affect the UI / menu. The API need rethinking, plus it should incorporate new features, such as [discussion](https://github.com/AlmasB/F

[2022-04-27 10:01] AlmasB commented on #870
Linking https://github.com/AlmasB/FXGL/discussions/1173 for more ideas to go with this feature

[2022-05-07 12:10] lxwise opened #1174 "Gamification initialization page modification"
![image](https://user-images.githubusercontent.com/44765090/167253822-482d79c2-2a1a-4a1a-b4de-aeef457ef995.png)

[2022-05-07 14:34] #1174 closed, assigned to nobody

[2022-05-30 17:49] chengenzhao commented on #1172
Hi:

We could help provide chinese_simplified.lang

cheers

[2022-06-27 01:54] ngcin opened #1181 "Adjust the offset of the key frame"
Since the image size of each frame is different, I want to align the image of each frame by adjusting the offset of the key frame. If I modify the image, the workload is relatively large. I want to adjust it from the code level. Is there a good way?

[2022-07-01 12:54] AlmasB commented on #1181
Hmm, that's a good question. As far as I can remember, FXGL does not support offsets for each frame. Sounds like a very useful feature to have. Can you provide a simple (ideally, minimal) demo with an appropriate sprite sheet and I'll see if we can implement this relatively soon...

[2022-07-02 16:39] ngcin commented on #1181
Thanks for your reply, I submitted a simple demo at [https://github.com/ngcin/fani](https://github.com/ngcin/fani) which includes a monster's attack animation. The animation structure description is a json file (/assets/data/monster.json), and the "res" node describes each frame image position in sprite sheet, "frames" describes the offsets of the frame .

[2022-07-07 13:10] AlmasB commented on #1181
Thanks, I've had a quick look.

If I understand correctly, we can potentially solve this by:

1. adding `offsetX/Y` to `FrameData` with 0 values as default.
2. inside `AnimatedTexture::updateImage()` use `offsetX/Y` to offset the image:

[code]

Would that work for your (and also general) use case?

[2022-07-07 15:35] ngcin commented on #1181
Yes, entirely accurate! This is exactly what I thought, this function is very helpful for us to use existing texture materials, thank you!

[2022-07-09 09:37] chengenzhao commented on #1168
This features seems like is a easy modification to make it happened
so will this feature catch up the next release?

[2022-07-09 09:39] 17722797729 opened #1182 "新版Tilde地图编辑器1.9.0 对象层类名由type更改为class，导致加载失败"
[
![image](https://user-images.githubusercontent.com/43561533/178100312-c701a794-639f-4646-9ce1-067aa5354106.png)
](url)

[
![image](https://user-images.githubusercontent.com/43561533/178100319-8977d6e3-43ba-41e3-866d-104e28140989.png)
](url)

[2022-07-09 16:03] AlmasB commented on #1182
Hi,

不好意思，我的汉语不好。我觉得 Tiled 1.9.0- 用了 "type"，但是 1.9.0+ 现在用 "class" 。我要看看，谢谢。

If I understood correctly, it seems "type" has now been replaced with "class" in Tiled 1.9.0+. To adapt to this, whilst maintaining backwards-compatibility, I think the fix could be rather simple:

[code]

I'll take a look at 1.9.0, thanks.

[2022-07-09 16:58] #1168 closed, assigned to AlmasB

[2022-07-09 17:00] AlmasB commented on #1168
All done, see if it works for you.

To get the latest build, you can use this:
[code]

[2022-07-10 05:49] chengenzhao commented on #1168
Cool
 It works great
Thanks a lot
<img width="893" alt="截屏2022-07-10 下午1 49 06" src="https://user-images.githubusercontent.com/5525436/178133060-0bde18c4-0219-4514-a623-20e09df9e18b.png">

[2022-07-11 16:21] #1181 closed, assigned to AlmasB

[2022-07-11 16:21] AlmasB commented on #1181
Demo here: https://twitter.com/AlmasBaim/status/1546529789946773506

To get the latest build, you can use this:
[code]

[2022-07-12 10:22] #1169 closed, assigned to nobody

[2022-07-12 11:26] AlmasB commented on #1121
Closed by https://github.com/AlmasB/FXGL/discussions/1124

[2022-07-12 11:26] #1121 closed, assigned to nobody

[2022-07-12 11:52] #1036 closed, assigned to AlmasB

[2022-07-15 12:41] #1070 closed, assigned to nobody

[2022-07-18 17:24] AlmasB commented on #980
To complete, we should also add an option that rotates the entity along the movement vector.

[2022-07-19 20:23] #1149 closed, assigned to AlmasB

[2022-07-20 19:59] AlmasB opened #1187 "Adding more options for volume"
### Discussed in https://github.com/AlmasB/FXGL/discussions/1180

<div type='discussions-op-text'>

<sup>Originally posted by **nicymike** June 10, 2022</sup>
Hey!

1. What do you think about adding a new setting to audio for master volume.
Many games have three (or sometimes more) volume sliders: master, music, sound.
The volume for playing audio is then calculated by:
soundVolumeForPlay = master

[2022-07-20 20:00] AlmasB commented on #1187
Relevant extract:

[2022-07-21 09:51] AlmasB commented on #1182
To get the latest build, you can use this:
[code]

See if it works for your use case.

[2022-07-21 12:57] AlmasB opened #1188 "Remove extra onClick() in EntityBuilder which may confuse the IDE"

[2022-07-22 08:52] AlmasB opened #1189 "setFPSCamera method of GameScene in input events"
### Discussed in https://github.com/AlmasB/FXGL/discussions/1185

<div type='discussions-op-text'>

<sup>Originally posted by **feiniao5643** July 20, 2022</sup>
First of all, please forgive me for my bad English.
I'll skip the usual preliminaries and come straight to the point.
I use this API in initGame,It's normal.
`@Override
    protected void initGame() {
        camera3D = FXGL.getGameScene(

[2022-07-22 08:59] #1189 closed, assigned to nobody

[2022-07-22 09:07] #1188 closed, assigned to AlmasB

[2022-07-25 06:58] 17722797729 commented on #1182
understand correctly

[2022-07-25 07:00] 17722797729 commented on #1182
感谢老铁

[2022-07-25 07:03] 17722797729 commented on #1182
爱你

[2022-08-05 16:34] Anivie opened #1193 "Can't import dependence on kotlin 1.7.20"
**Describe the bug**
When i use kotlin 1.7.20 to build a fxgl progect,it get a error:
`Could not find kotlin-stdlib-1.7.20-Beta-modular.jar (org.jetbrains.kotlin:kotlin-stdlib:1.7.20-Beta).`

**To Reproduce**
Steps to reproduce the behavior:
My build scrip:

[code]

**Runtime info(please complete the following information):**
 - OS and version: openj9-0.32.0, JRE 17 Windows 10 amd64-64-Bit,fxgl 17

[2022-08-06 05:59] Anivie commented on #1193
I am find that jb has removed the "modular" jar after kotlin  1.7,can you fix it or update kotlin version to kotlin 1.7.10? @AlmasB

[2022-08-08 03:51] #1193 closed, assigned to nobody

[2022-08-13 11:56] AlmasB opened #1196 "Add EntityBuilder DSL methods to add extra mouse event handlers, similar to existing onClick"
### Discussed in https://github.com/AlmasB/FXGL/discussions/1099

<div type='discussions-op-text'>

<sup>Originally posted by **francescvc** September  2, 2021</sup>
On entityBuilder() I can  setup an  onClick((ent)-> { ... })  but on the click code I can't make difference upon the button clicked, that is the left one or right one.  ¿How can I attach different events to both mousebuttons, or how c

[2022-08-15 16:31] AlmasB opened #1198 "Get current frame data & index in animations"
### Discussed in https://github.com/AlmasB/FXGL/discussions/1191

<div type='discussions-op-text'>

<sup>Originally posted by **chengenzhao** July 30, 2022</sup>
Hi:

Is it possible to get the current frame data like which frame(1st, 2nd or 3rd) is currently showing
in the onUpdate method?
We tried to use method like viewComponent.getAnimationChannel().getCurrentFrame() but failed

Thanks</div>

[2022-08-16 17:48] AlmasB opened #1199 "PropertyMap::addAll(PropertyMap)"
Also consider easy (de-)serialization

[2022-08-20 17:13] AlmasB commented on #1182
Done in 17.2

[2022-08-20 17:13] #1182 closed, assigned to nobody

[2022-08-20 17:25] AlmasB commented on #1113
Link: https://github.com/maehem/fxgl-textured-cube

[code]

[2022-08-29 15:50] AlmasB opened #1204 "InputModifier should include SHORTCUT(Ctrl on Win, Command on Mac) modifier?"
### Discussed in https://github.com/AlmasB/FXGL/discussions/1203

<div type='discussions-op-text'>

<sup>Originally posted by **chengenzhao** August 27, 2022</sup>
HI:

We just read the source code of FXGL
and in the Triggers.kt
there are some modifiers for the input modifier
and when statement will match Keycode of modifiers to the input modifier
but it only matches KeyCode.Ctrl to InputModifier.

[2022-09-02 21:36] #1187 closed, assigned to AlmasB

[2022-09-02 22:09] #1199 closed, assigned to AlmasB

[2022-09-02 23:57] chengenzhao commented on #1196
how about a general method of mouse event
like
[code]
?

[2022-09-06 09:08] mukulsethi22 commented on #1120
Can I work on this issue?

[2022-09-06 09:48] AlmasB commented on #1120
Sure, go for it. Please provide your design here so we can agree on API

[2022-09-07 05:08] mukulsethi22 commented on #1120
I am new to this, can you provide which files need changes for this and if possible a basic roadmap to solve this issue.
Thanks.

[2022-09-19 12:24] AlmasB commented on #1014
Whilst it is possible to add a superimposed solution on top of the perlin values generator, there is no single "correct" solution to this. Hence the original implementation remains. Users seeking a different behaviour can simply provide their own implementation of the `Interpolator` interface.

[2022-09-19 12:24] #1014 closed, assigned to nobody

[2022-09-25 20:34] byteit101 opened #1208 "Support Isometric/ParallelCamera in 3D scenes"
JavaFX supports the ParallelCamera, but FXGL is hard-coded to use the PerspectiveCamera in the Camera3D class. FXGL should allow users to use their own cameras such as the ParallelCamera

[2022-09-26 19:23] AlmasB commented on #1208
Thanks. Could you elaborate on the use case please or maybe provide an example? The first thing that comes to mind is like a 3D platformer with a parallel camera

[2022-09-26 19:48] byteit101 commented on #1208
Two examples off the top of my head: the classic Q*Bert, and Freeciv in its classic isometric mode (ie. not the WebGL client).

[2022-10-04 05:34] Xiaobaishushu25 opened #1209 "a problem about physicsComponent"
Hello, I encountered a problem about physical components. My goal is to play a displacement animation when an entity is added. After the animation, add a physical component to it so that it can fall freely and have a speed. Now I have a problem that I can't set the speed after adding physical components. Maybe I can add physical components in the entitybuilder of this entity, but I don't know how

[2022-10-04 06:13] chengenzhao commented on #1209
[code]

[2022-10-09 09:08] AlmasB commented on #1209
Hi,
[code]

[2022-10-13 20:05] CharlyZhu commented on #1009
I would like to give this a try, I could create an API for user to implement and hook up with their own choice of licensing and key systems, then add the functionality to prevent the app from running if the license or the key is invalid.

[2022-10-25 09:54] AlmasB commented on #1009
@CharlyZhu go for it, feel free to post your API design here and how it would hook into the FXGL lifecycle

[2022-11-23 07:19] NanaLearnCoding opened #1213 "AStar pathfinder support 8 directions move, include diagonal cell"
i find AStarMoveComponent  moveToCell only support 4 directions (up down left right)，so when the cell moving, it looks a little stiff.
the code show that:
`Note: returned cells are in the grid (i.e. bounds are checked). Diagonal cells are not included. The order is left, up, right, down.`
so, could  it  support 8 directions move?
thank u

[2022-11-24 11:46] AlmasB commented on #1213
Currently no. Though it would be a good idea. Thanks for the suggestion.